﻿<footer class="page_footer ds texture_bg section_padding_top_65 columns_padding_25 table_section">
    <div class="container">
        <div class="row">
            @*<div class="col-md-4 col-sm-4 text-center vertical-center">
                <div class="widget widget_recent_entries">
                    <h3 class="widget-title">Recent Blogs</h3>
                    <ul class="greylinks">
                        <li>
                            <p class="bottommargin_0"> <a href="blog-single-left.html">Lorem ipsum doloamet consetetur sadipscing</a> </p>
                            <p class="inline-content darklinks small-text no-spacing">
                                <a href="blog-single-right.html">
                                    <i class="rt-icon2-calendar4 rightpadding_5 highlight"></i>
                                    <time datetime="2017-10-03T08:50:40+00:00">
                                        22.10.17
                                    </time>
                                </a> <a href="blog-right.html">
                                    <i class="rt-icon2-user rightpadding_5 highlight"></i>
                                    admin
                                </a> <a href="blog-right.html">
                                    <i class="rt-icon2-clip rightpadding_5 highlight"></i>
                                    news
                                </a>
                            </p>
                        </li>
                        <li>
                            <p class="bottommargin_0"> <a href="blog-single-left.html">Eirmod tempor invidunt labore dolo magna </a> </p>
                            <p class="inline-content darklinks small-text no-spacing">
                                <a href="blog-single-right.html">
                                    <i class="rt-icon2-calendar4 rightpadding_5 highlight"></i>
                                    <time datetime="2017-10-03T08:50:40+00:00">
                                        22.10.17
                                    </time>
                                </a> <a href="blog-right.html">
                                    <i class="rt-icon2-user rightpadding_5 highlight"></i>
                                    admin
                                </a> <a href="blog-right.html">
                                    <i class="rt-icon2-clip rightpadding_5 highlight"></i>
                                    news
                                </a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 text-center vertical-center">
                <div class="widget widget_text">
                    <h3 class="widget-title topmargin_15">@BLL.Tools.Constants.SITE_URL.SITE_NAME</h3>
                    <p class="bottommargin_10">At vero eos et accusam justo duo dolores earebum kasd gureno takimata sanctu ipsum dolor sit amet lorem ipsum.</p>
                    <p class="small-text grey colorlinks"> Surat, Gujarat, India.<br> <a href="mailto:@BLL.Tools.Constants.SITE_URL.CONTACT_EMAIL">@BLL.Tools.Constants.SITE_URL.CONTACT_EMAIL</a> </p>
                    <p class="topmargin_25"> 
                        <a href="#" class="social-icon color-icon rounded-icon border-icon soc-facebook"></a> 
                        <a href="#" class="social-icon color-icon rounded-icon border-icon soc-twitter"></a> 
                        <a href="#" class="social-icon color-icon rounded-icon border-icon soc-google"></a>								
                        <a href="#" class="social-icon color-icon rounded-icon border-icon soc-linkedin"></a> 
                        <a href="#" class="social-icon color-icon rounded-icon border-icon soc-youtube"></a> 
                    </p>
                </div>
            </div>*@
        <div class="col-md-3 col-sm-3">
            &nbsp;
        </div>
            <div class="col-md-6 col-sm-6 text-center vertical-center">
                <div class="widget widget_mailchimp">
                    <h3 class="widget-title">Newsletter</h3>
                    <form id="frmSubscribe" class="signup" method="get">
                        <p class="bottommargin_30">Subscribe to our mailing list to receive new updates and special offers:</p>
                        <div class="form-group-wrap">
                            <div class="form-group">
                                <label for="footer-mailchimp" class="sr-only">Enter your email here</label>
                                <input name="email" type="text" id="footer-mailchimp" class="mailchimp_email form-control" placeholder="Email Address" @*required*@>
                            </div>
                            <button type="submit" class="theme_button no_bg_button color1">Subscribe</button>
                        </div>
                        @*<div class="response"></div>*@
                    </form>
                </div>
            </div>

        <div class="col-md-3 col-sm-3">
            &nbsp;
        </div>
        </div>
    </div>
</footer>
