﻿
<header class="page_header header_white" style="">
    <div id="CryptoExploreLogo" class="mainmenu_wrapper" style="position:absolute;left:10px;">
        <a href="/" >
            <img src="/images/logo.png" alt="" style="height:60px; margin:10px;">
        </a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <!-- main nav start -->
                <nav class="mainmenu_wrapper">

                    <ul class="mainmenu nav sf-menu">
                        <li class="@(ViewBag.Title == "Home"?"active":"")">
                            <a href="/">Home</a>
                        </li>
                        <li class="@(ViewBag.Title == "ICO"?"active":"")">
                            <a href="/ICO">ICO</a>
                        </li>
                        
                        @foreach (var item in BLL.Queries.CMSManage.GetMenu())
                        {
                            <li class="@(ViewBag.Title == item.Value?"active":"")">
                                <a href="/Page/?title=@item.Key">@item.Value</a>
                            </li>
                        }

                        @*<li class="@(ViewBag.Title == "Home"?"active":"")">
                        </li>*@

                        <li class="@(ViewBag.Title=="ContactUs"?"active":"")">
                            <a href="/CONTACT_US">Contact Us</a>
                        </li>
                        <li class="@(ViewBag.Title=="News"?"active":"")">
                            <a href="/News">News</a>
                        </li>
                        <!-- eof contacts -->
                    </ul>
                </nav>
                <!-- eof main nav -->
            </div>
        </div>
    </div>
</header>