﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<!-- Mirrored from webdesign-finder.com/html/hashcoin/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Dec 2017 09:07:17 GMT -->
<head>
    <title>@ViewBag.Title - @BLL.Tools.Constants.SITE_URL.SITE_NAME</title>
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("head", required: false)
    <style type="text/css">
        #ui-id-1{
            position: absolute;
            z-index: 1002;
        }
    </style>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/jquery-ui.css")*@
    <link href=http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css
          rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/jquery-ui.theme.css")
    @Styles.Render("~/Content/jquery-ui.structure.css")
    @Scripts.Render("~/Scripts/Header")
    @Scripts.Render("~/Scripts/custom/GetAutoCompleteSearch.js")


    <!--[if lt IE 9]>
        <script src="Scripts/vendor/html5shiv.min.js"></script>
        <script src="Scripts/vendor/respond.min.js"></script>
        <script src="Scripts/vendor/jquery-1.12.4.min.js"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111690421-1"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-111690421-1');
    </script>

    @*  // Google ads by signin with google account... https://www.google.com/adsense/
    https://www.google.com/adsense/new/u/0/pub-6015723905757556/home?hl=en-US&signup-no-redirect=true*@

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-6015723905757556",
            enable_page_level_ads: true
          });
    </script>
        @*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6015723905757556",
        enable_page_level_ads: true
      });
        </script>*@
    <style>
        label.error {             
            color: red;   
            display:inline-flex ;                 
        }  
    </style>
</head>

<body>
    <!--[if lt IE 9]>
        <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
    <![endif]-->
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>

    <!-- search modal -->
    @*<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                <i class="rt-icon2-cross2"></i>
            </span>
        </button>*@
        @*<div class="widget widget_search">
            <form method="get" class="searchform search-form form-inline" action="#">
                <div class="form-group bottommargin_0">
                <input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
                </div>
                <button type="submit" class="theme_button no_bg_button">Search</button>
            </form>
        </div>*@
    @*</div>*@

    <!-- Unyson messages modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
        <div class="fw-messages-wrap ls with_padding">
            <!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
            <!--
            <ul class="list-unstyled">
                <li>Message To User</li>
            </ul>
            -->
        </div>
    </div>
    <!-- eof .modal -->
    <!-- wrappers for visual page editor and boxed version of template -->
    <div id="canvas">
        <div id="box_wrapper">
            <!-- template sections -->
            <section class="page_toplogo ls section_padding_top_15 section_padding_bottom_15 table_section table_section_md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-md-push-4 text-center">
                            <a href="/" class="logo top_logo top_offset_logo">
                                <img src="/images/logo.png" alt="">
                            </a>
                            <!-- header toggler hidden-xs --><span class="toggle_menu"><span></span></span>
                        </div>
                        <div class="col-md-4 col-sm-6 col-md-pull-4 text-center text-md-left">
                            <div>
                                <a class="social-icon border-icon rounded-icon color-icon soc-facebook" href="#" title="Facebook"></a> <a class="social-icon border-icon rounded-icon color-icon soc-twitter" href="#" title="Twitter"></a> <a class="social-icon border-icon rounded-icon color-icon soc-google" href="#" title="Google"></a> <a class="social-icon border-icon rounded-icon color-icon soc-linkedin" href="#" title="Linkedin"></a> <a class="social-icon border-icon rounded-icon color-icon soc-youtube" href="#" title="Youtube"></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 text-center text-md-right text-xs-center">
                            <div class="widget widget_search inline-block">
                                <form method="get" class="searchform form-inline" action="#">
                                    <div class="form-group-wrap">
                                        <div class="form-group margin_0">
                                                <label class="sr-only" for="topline-search">Search for:</label>
                                                <input id="topline-search" type="text" value="" name="search" list="json-datalist" class="form-control" placeholder="">
                                                    <div class="dataList"></div>
                                                    <datalist id="json-datalist"></datalist>
                                        </div>
                                        <button id="search_btn" type="submit" class="theme_button color1 no_bg_button">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @Html.Partial("~/Views/Shared/_header.cshtml")
            @*@Html.Partial("~/Views/Shared/Partial/_adsHeader.cshtml")*@
            <div class="adsHeader text-center"></div>
            <section class="ls page_copyright section_padding_15">
                @*<div class="adsLeft col-md-2 hidden-sm hidden-xs"></div>*@
                @*@Html.Partial("~/Views/Shared/Partial/_adsLeft.cshtml")*@
                <section class="ls col-md-10  section_padding_bottom_75 columns_padding_25">
                    <div class="container" id="pnlBody">
                        @RenderBody()
                    </div>
                </section>
                @*<div class="adsLeft col-xm-2 visible-sm visible-xs"></div>*@
                <div class="adsRight col-md-2 col-sm-4 col-xs-5"></div>
            </section>

            <div class="adsFooter text-center"></div>
            @Html.Partial("~/Views/Shared/_footer.cshtml")
            <section class="ls page_copyright section_padding_15">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p class="small-text thin">&copy; Copyright @DateTime.Now.Year. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- eof #box_wrapper -->
    </div>
    <!-- eof #canvas -->
    @Scripts.Render("~/Scripts/Footer")
    <!--include jQuery Validation Plugin-->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js" type="text/javascript"></script>  
    @Scripts.Render("~/Scripts/jquery-ui.js")
    <!-- custom js reference -->
    <input type="hidden" id="APIURL" value="@BLL.Tools.Constants.SITE_URL.API" />
    @RenderSection("scripts", required: false)
</body>
<!-- Mirrored from webdesign-finder.com/html/hashcoin/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Dec 2017 09:07:17 GMT -->
</html>