﻿@model BLL.ModelViews.URLResponse

@*<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>*@
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center" style="margin-top:90px">
        <div class="inline-block text-center">
            <p class="not_found" style="font-size:18px"> <span class="highlight">Ooops... 500 Error</span> </p>
            <h3>Sorry, Server side data not found.</h3>
            <p> You can search what interested: </p>
            <div class="widget widget_search">
                <form method="get" class="searchform" action="#">
                    <div class="form-group">
                        <label class="sr-only" for="page-search">Search for:</label>
                        <input type="text" id="page-search" value="" name="search" list="json-datalist" class="form-control" @*placeholder="Keyword"*@>
                        <div class="dataList"></div>
                        <datalist id="json-datalist"></datalist>
                    </div>
                    <button id="search_data" type="submit" class="theme_button color1 no_bg_button">Search</button>
                </form>
            </div>
            <p> or </p>
            <p> <a id="link" href="javascript:history.go(-1)" class="theme_button color1">GOBACK</a> </p>
        </div>
    </div>
</div>
<script>
    //$("a.theme_button").href(window.history.back());
</script>

