﻿@{
    ViewBag.Title = "NotFound";
}

@*<section class="ls section_404 section_padding_top_100 section_padding_bottom_150">
    <div class="container">*@
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="inline-block text-center">
                    <p class="not_found"> <span class="highlight">404</span> </p>
                    <h3>Oops, page not found!</h3>
                    <p> You can search what interested: </p>
                    <div class="widget widget_search">
                        <form method="get" class="searchform" action="#">
                            <div class="form-group"> 
                            <label class="sr-only" for="page-search">Search for:</label> 
                            <input type="text" id="page-search" value="" name="search" list="json-datalist" class="form-control" placeholder="Keyword"> 
                                <div class="dataList"></div>
                                <datalist id="json-datalist"></datalist>
                            </div> 
                            <button id="search_data" type="submit" class="theme_button color1 no_bg_button">Search</button>
                        </form>
                    </div>
                    <p> or </p>
                    <p> <a id="back-link" href="javascript:history.back()" class="theme_button color1">Go Back</a> </p>
                </div>
            </div>
        </div>
    @*</div>
    </section>*@

@*@section scripts{*@
    @*<script src="~/Scripts/custom/GetAutoCompleteSearch.js" type="text/javascript"></script>*@
@*<script>
    $(document).ready(function () {
        //$("a.theme_button").href(window.history.back());
        //document.write('<a href="' + document.referrer + '">Go Back</a>');

        var element = document.getElementById('back-link');

        element.setAttribute('href', document.referrer);

        element.onclick = function () {
            history.back();
        }
       });
</script>*@
@*}*@

