﻿@model BLL.ModelViews.URLResponse

@{
//Layout = null;
}

    <div class="row"> 
        <div class="col-md-6 col-md-offset-3 text-center" style="margin-top:90px">
            <div class="inline-block text-center">
                <p class="not_found" style="font-size:18px"> <span class="highlight">@Model.Title</span> </p>
                <h3>@Model.Message</h3>
                <p> You can search what interested: </p>
                <div class="widget widget_search">
                    <form method="get" class="searchform" action="#">
                        <div class="form-group">
                            <label class="sr-only" for="page-search">Search for:</label>
                            <input type="text" id="page-search" value="" name="search" list="json-datalist" class="form-control" @*placeholder="Keyword"*@>
                            <div class="dataList"></div>
                            <datalist id="json-datalist"></datalist>
                        </div>
                        <button id="search_data" type="submit" class="theme_button color1 no_bg_button">Search</button>
                    </form>
                </div>
                <p> or </p>@*@Model.Page_Link*@
                <p> <a id="link" href="javascript:history.back()" class="theme_button color1">@Model.Link_Text</a> </p>
            </div>
        </div>
    </div>

@section scripts{
    @*<script src="~/Scripts/custom/GetAutoCompleteSearch.js" type="text/javascript"></script>*@
    <script>
        $(document).ready(function () {

            //var link_check = $("#link").val();
            //setTimeout(function () {
            //    if (link_check == "") {
            //        //var referrer_url = document.getElementById("link");
            //        //referrer_url.setAttribute("href", history.go(-1));
            //         $("#link").attr("href", history.go(-1));
            //    }http://localhost:43995/Admin/CMSManage/Index
            //}, 2000); onClick="history.go(-1)"

            //document.write('<a href="' + document.referrer + '">Go Back</a>');

            //$("a").click(function(event) {
            //    var val_a = $("#link").attr("href");
            //    if (val_a == "") {
            //        val_a.attr("href", history.go(-2));
            //        //window.history.back();
            //    }
            //});
            
        });
    </script>
}
