﻿
@{
    ViewBag.Title = "Runtime";
}

@*<section class="ls">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div style="padding:20px;">
                    Ooops... RunTime Error
                </div>

                <div style="padding:20px;">
                    Sorry, An exception occurred while processing your request.
                </div>

                <div style="padding:20px;">
                    You can go to the <a href="@Request.UrlReferrer">GOBACK</a>
                </div>
            </div>
        </div>
    </div>
</section>*@
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center" style="margin-top:90px">
        <div class="inline-block text-center">
            <p class="not_found" style="font-size:18px"> <span class="highlight">Ooops... RunTime Error</span> </p>
            <h3>Sorry, An exception occurred while processing your request.</h3>
            <p> You can search what interested: </p>
            <div class="widget widget_search">
                <form method="get" class="searchform" action="#">
                    <div class="form-group">
                        <label class="sr-only" for="page-search">Search for:</label>
                        <input type="text" id="page-search" value="" name="search" list="json-datalist" class="form-control" @*placeholder="Keyword"*@>
                        <div class="dataList"></div>
                        <datalist id="json-datalist"></datalist>
                    </div>
                    <button id="search_data" type="submit" class="theme_button color1 no_bg_button">Search</button>
                </form>
            </div>
            <p> or </p>
            <p> <a id="link" href="javascript:history.go(-1)" class="theme_button color1">GOBACK</a> </p>
        </div>
    </div>
</div>
<script>
    //$("a.theme_button").href(window.history.back());
    //$("a").click(function (event) {
    //    var val_a = $("#link").attr("href");
    //    if (val_a == "") {
    //        val_a.attr("href", history.go(-1));
    //    }
    //});
</script>