﻿@model BLL.ModelViews.CMSManage.Extend
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Content/ckeditor/adapters/jquery.js"></script> 
<script type="text/javascript" src="/Scripts/app.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        // --/Admin/CMSManage/Post       
        //$('#isVisible').on('change', function () {
        //    var _val = $(this).is(':checked') ? 'checked' : 'unchecked';
        //    $('#isVisible').val(_val);
        //   // alert(_val);
        //});
        $('#form-main').submit(function () {

            //CKEDITOR.instances['Content'].on('change', function () {
            //    CKEDITOR.instances['Content'].updateElement()
            //});
            //var pname = $("#PageName").val();
            //var title = $("#Title").val();
            //var cont = CKEDITOR.instances.Content.getData();
            //var metatag = $("#MetaTag").val();
            //var desctag = $("#DescriptionTag").val();
            //var pagetype = $("#Type").val();
            //var isactive = $("#isVisible").val();
            //var guid = $("#guid").val();
            //var id = $("#Id").val();
            //var data = CKEDITOR.instances.Content.getData();

            for (instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
            var data = $("#form-main").serialize();            
            var postUrl = "/Admin/CMSManage/Post";
            //{
            //    PageName: pname,
            //    Title: title,
            //    Content: cont,
            //    MetaTag: metatag,
            //    DescriptionTag: desctag,
            //    Type: pagetype,
            //    isVisible: isactive,
            //    guid: guid,
            //    Id:id
            //}
            $.post(postUrl, data, function (result) {

                if (result.success) {
                    //alert(result.message);
                    toastr.success(result.message);
                    window.location.href = "/Admin/CMSManage";
                }
                else {
                    //alert(result.message);
                    toastr.error(result.message);
                    var obj = "";
                    $.each(result.validation, function (i, vObj) {
                        obj += vObj.ValidationMessage + "<br />";
                        // toastr.error(obj);
                        //console.log(vObj.ValidationMessage);
                        //$("#" + vObj.ValidationField).insertAfter("<span class='text-danger'>" + vObj.ValidationMessage + "</span>");
                    });
                    toastr.error(obj);
                }
            });
            return false;
        })

    });
</script>

<h1>CMSManage</h1>
<form action="#" method="POST" id="form-main">
    <div class="form-group">
        Page Name
        @if (Model.PageName == null)
        { 
            <input type="text" name="PageName" id="PageName" value="@Model.PageName" class="form-control required" maxlength="50" />
            <small class="pull-right">click to Ads Areas for display Ads <a href="javascript:$('#PageName').val('ADS_HEADER')">ADS_HEADER</a>, <a href="javascript:$('#PageName').val('ADS_FOOTER')">ADS_FOOTER</a>, @*<a href="javascript:$('#PageName').val('ADS_LEFT')">ADS_LEFT</a>,*@ <a href="javascript:$('#PageName').val('ADS_RIGHT')">ADS_RIGHT</a></small>
        }
        else
        { 
            <input type="text" name="PageName" id="PageName" value="@Model.PageName" class="form-control required" readonly="readonly" /> 
        }
    </div>

    <div class="form-group">
        Title
        <input type="text" name="Title" id="Title" value="@Model.Title" class="form-control required" maxlength="150" />
    </div>

    <div class="form-group">
        Content
        <div class="editor-field">
            <textarea id="Content" name="Content" class="form-control" rows="6">@Model.Content</textarea>
        </div>
    </div>
    <div class="form-group">
        Meta Tag
        <input type="text" name="MetaTag" id="MetaTag" value="@Model.MetaTag" class="form-control required" maxlength="500" />
    </div>
    
    <div class="form-group">
        Meta Description
        <input type="text" name="DescriptionTag" id="DescriptionTag" value="@Model.DescriptionTag" class="form-control required" maxlength="500" />
    </div>
    <div class="form-group">
        CMS Type
        <select name="Type" id="Type"  class="form-control required" >
            <option @(Model.Type == BLL.Tools.Constants.Types.CMS.PAGE ? "selected" : "" )>@BLL.Tools.Constants.Types.CMS.PAGE</option>
            <option @(Model.Type == BLL.Tools.Constants.Types.CMS.ADS ? "selected":"" )>@BLL.Tools.Constants.Types.CMS.ADS</option> 
            <option @(Model.Type == BLL.Tools.Constants.Types.CMS.MAIL ? "selected" : "")>@BLL.Tools.Constants.Types.CMS.MAIL</option>
        </select>
    </div>
    <div class="form-group">
        Is Active
        <input type="checkbox" name="isVisible" id="isVisible"  value="true" @(Model.isVisible == true ? "checked" : "") class="form-control-static required" />
    </div>

    <div class="form-group">
        <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
        <a href="/Admin/CMSManage/Index" class="btn btn-primary">Cancel</a>
        <input type="hidden" id="guid" name="guid" value="@Model.Guid" />
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        @*<input type="text" id="dataContent" name="dataContent" />*@ 
    </div>
</form>
 
@section scripts{
    <script type="text/javascript" src="~/Scripts/toastr.js"></script>
<script>
    $(document).ready(function () {
        // ----- Demo Referrence : http://www.responsivefilemanager.com/demo.php ----- //
        CKEDITOR.replace("Content", {
            filebrowserBrowseUrl: '/filemanager/dialog.php?type=2&editor=ckeditor&fldr=',
            //filebrowserUploadUrl: '/filemanager/dialog.php?type=2&editor=ckeditor&fldr=',
            filebrowserImageBrowseUrl: '/filemanager/dialog.php?type=1&editor=ckeditor&fldr='
        });
    })
</script>
}