﻿@model List<BLL.ModelViews.CMSManage.Extend>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        // -------------------------------------------
        $(".tr-delete").on("click", function () {
            DeleteRecordRemoveTr(this, 'Admin/CMSManage');
        });
        // -------------------------------------------
    });
</script>

<h1>CMSManage </h1>
<form action="/" method="POST" id="form-main">
    <a href="/Admin/CMSManage/Create" class="btn btn-success">New CMSManage</a>
    <table class="table table-striped dataTable">
        <thead>
            <tr>
                @*<th>Delete</th>*@
                <th>Edit</th>
                <th>PageName</th>
                <th>Title</th>
            </tr>
            <tr class="dataTable-input">
                @*<th>
                    <input type="hidden" />
                </th>*@
                <th>
                    <input type="hidden" />
                </th>

                <th>
                    <input type="text" name="StPageName" class="dataTable-search-int" />
                </th>
                <th>
                    <input type="text" name="StTitle" class="dataTable-search-int" />
                </th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-id="@item.Guid">
                    @*<td><a href="#" class="tr-delete"><i class="fa fa-trash-o"></i></a></td>*@
                    <td>
                    <a href="/Admin/CMSManage/Details?guid=@item.Guid">Edit</a>
                    </td>
                    <td>@item.PageName</td>
                    <td>@item.Title</td>
                </tr>
            }
        </tbody>
    </table>
</form>