﻿@model BLL.ModelViews.ICO.Extend
@{
    ViewBag.Title = "ICO";
}

<style>
    table > thead > tr > th {
        color: #333333;
    }
    table {
        font-family: Arial;
    }
    .pull-right {
     float: right!important;
    }
    .pull-left {
        float: left!important;
    }
    /*[class*="col-"] {
        margin-top: 1px;
        margin-bottom: 1px;
    }*/
    /*div.dataTables_scrollHead{ 
        width: 100vw !important;
    }
    div.dataTables_scrollHeadInner {
        width: 72vw !important;
        max-height: 65vh !important;
    }*/
</style>

<div class="row">
        <div class="row bottom-margin-1x">
            <div class="col-xs-5 col-sm-3 col-md-4" style="margin-left:0px;">
                <h4 class="text-md-center text-xs-left">
                    <img src="@Model.CoinIcon" onerror="this.src='/images/no-image-found.jpg'" style="height:20%;width:20%" class="currency-logo-32x32" alt="@Model.CoinName">
                    <br>
                    <small class="bold hidden-sm hidden-md hidden-lg">(@Model.CoinCode)</small>
                    <span class="clearfix visible-xs"></span>
                    @Model.CoinName
                    <small class="text-gray bold hidden-xs">(@Model.CoinCode)</small>
                    <span class="clearfix visible-xs"></span>
                    <br />
                    <span style="/* padding-left:43px; */color:#808080;font-size: 16px;" class="text-sm-left Price">$@Model.Price</span>
                    <span style="color:#808080;font-size: 16px;" class="details-text-medium">USD</span>
                    <br />
                    <span class="text-large2" style="/* padding-left: 60px; */">
                        (<span class="ChkPrice"></span>%)
                    </span>
                </h4>
            </div>

            @*<div class="col-xs-5 col-sm-3 col-md-4" style="margin-left:15px;">
                <h4 class="text-md-left">
                    <img src="@Model.CoinIcon" style="height:20%;width:20%"class="currency-logo-32x32" alt="@Model.CoinName">
                    <br />
                    <small class="bold hidden-sm hidden-md hidden-lg">(@Model.CoinCode)</small>
                    <span class="clearfix visible-xs"></span>
                    @Model.CoinName
                    <small class="text-gray bold hidden-xs">(@Model.CoinCode)</small>
                    <span class="clearfix visible-xs"></span>
                    <span style="padding-left:43px;color:#808080;font-size: 16px;" class="text-sm-left Price">$@Model.Price</span>
                    <span style="color:#808080;font-size: 16px;" class="details-text-medium">USD</span>
                    <span class="text-large2" style="padding-left:60px;">
                        (<span class="ChkPrice"></span>%)
                    </span>
                </h4>
            </div>*@

            <div class="col-xs-8 col-sm-9 col-md-7 text-md-center">
                @*col-xs-8  col-md-4*@
                <div class="coin-summary-item col-xs-8  col-md-4" style="border-color: #ddd;border: 1px solid #ccc;border-radius: 4px;">
                    <div class="coin-summary-item-header">
                        <h6 class="details-text-medium">Market Cap</h6>
                    </div>
                    <div class="coin-summary-item-detail details-text-medium">
                        <span>
                            <span class="text-gray">$@Model.MarketCap</span>
                        </span><br>
                    </div>
                </div>

                <div class="coin-summary-item col-xs-8  col-md-4" style="border-color: #ddd;border: 1px solid #ccc;border-radius: 4px;">
                    <div class="coin-summary-item-header">
                        <h6 class="details-text-medium">Circulating Supply</h6>
                    </div>
                    <div class="coin-summary-item-detail details-text-medium">
                        <span>$@Model.CirculatingSupply</span>
                    </div>
                </div>

                <div class="coin-summary-item col-xs-8  col-md-4" style="border-color: #ddd;border: 1px solid #ccc;border-radius: 4px;">
                    <div class="coin-summary-item-header">
                        <h6 class="details-text-medium">Max Supply</h6>
                    </div>
                    <div class="coin-summary-item-detail details-text-medium">
                        <span>$@Model.MaxSupply</span>
                    </div>
                </div>
            </div>
    </div>
    @*bottom-margin-1x*@
        <div class="row ">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs text-left" role="tablist">
                    <li><a class="loadChartsData" href="#chartContainer" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-stats text-gray"></span> Charts</a></li>
                    @*<li><a href="/ICO/HistoryData/?Guid=@ViewBag.Guid"><span class="glyphicon glyphicon-calendar text-gray"></span> Historical Data</a></li>*@
                    <li><a class="loadHistoryData" href="#historical-data" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-calendar text-gray"></span> Historical Data</a></li>
                    <li><a class="SocialData" href="#social-data" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-globe text-gray"></span>Social</a></li>
                    <li><a class="descriptionData" href="#description-data" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-info-sign text-gray"></span>Description</a></li>
                 </ul>
            </div>
                @*<div>&nbsp;</div>*@
                @*<div id="commanData" class="col-md-12 col-sm-12 col-xs-12" style="margin-top: -8px;margin-bottom: 2px;">
                @*<div class="pull-left">
                    <small>Currency in USD</small> <br>
                    <small>Open/Close in UTC time</small>
                </div>
                <div id="reportrange" class="pull-right" style="background:#fff;cursor:pointer;padding:5px 10px;border:1px solid #ccc;width:25%;position:absolute;top:11px;right:6px;z-index:120px;">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                    <span></span> <b class="caret"></b> images/loader_img.png
                </div>
            </div>*@
                 
            <div class="col-xs-12 tab-content" style="/*margin-top:4px;margin-bottom:-8px;*/bottom:20px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div id="reportrange" class="pull-right" style="position:relative; top:-30px;" @*style="background:#fff;cursor:pointer;padding:5px 10px;border:1px solid #ccc;width:22%;position:absolute;top:11px;right:6px;z-index:120px;"*@>
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                            <span></span> <b class="caret"></b>
                        </div>
                    </div>
                </div>

                <div id="loader_img" align="center">
                    <img type="hidden" src="~/img/loading.png" alt="Load Data From Server" class="fa-spin" style="height:4%;width:4%;bottom: 20px;"/>
                </div>   

                @*<div id="loader_img" class="row topmargin_30">
                    <div class="text-center"> <img src="img/loading.png" alt="" class="fa-spin" /> </div>
                </div>*@
                @*<button id="exportChart">Export Chart</button>*@

                @*<div id="reportrange" class="pull-right" style="background:#fff;cursor:pointer;padding:5px 10px;border:1px solid #ccc;width:22%;position:absolute;top:11px;right:6px;z-index:120px;">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                    <span></span> <b class="caret"></b>
                </div>*@                 

                <div id="chartContainer" class="tab-pane" style="position: relative;/* bottom: 12px; */top:-32px;">                                 
                    <div id="renderChart" style="height: 400px; width: 100%;">

                    </div>
                </div> 

                <div id="historical-data" class="tab-pane" style="position:relative;bottom:15px; /*height:50vw;width:72vw;*/">                     
                    @*<div id="reportrange1" class="pull-right" style="background:#fff;cursor:pointer;padding:5px 10px;border:1px solid #ccc;width:22%;position:absolute;top:11px;right:6px">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span></span> <b class="caret"></b>@*padding: 2em;
                    </div>*@                                           
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="pull-left" style="top:-35px;position:absolute;">
                                <h4 class="pull-left bottom-margin-2x">Historical data for @Model.CoinName</h4>   
                            </div>
                            <div class="clear"></div>    
                            <div id="reportrange1" class="pull-right" style="position: relative;top: 0px;" @*style="background:#fff;cursor:pointer;padding:5px 10px;border:1px solid #ccc;width:22%;position:absolute;top:11px;right:6px"*@>
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                <span></span> <b class="caret"></b>
                            </div>
                        </div>
                    </div>
                    <table id="tblHistoryData" class="table table-condensed hover" row="12"></table>  
                        @*<input class="row" id="daterange" name="daterange" style="display:none"/>
                            <div class="pull-right" id="daterange">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                <span></span>
                                <b class="caret"></b>
                        </div>*@               
                </div>    
                
                <div id="description-data" class="tab-pane">
                    <div class="tab-header">
                        <h4 class="pull-left" style="position:relative;top:-45px;">Description:</h4>
                        @*<div class="clear"></div>*@
                    </div>
                   
                    <div class="row">
                        <div id="info-data" class="col-sm-6 text-left">
                            
                        </div>
                    </div>
                </div> 
                
                <div id="social-data" class="tab-pane" style="position:relative;top:-50px;">      
                            <div class="row">
                                @*<input type="submit" id="btnFacebook" name="btnFacebook" value="Facebook"/>
                                    <input type="submit" id="btnTwitter" name="btnTwitter" value="Twitter" />
                                    <input type="submit" id="btnReddit" name="btnReddit" value="Reddit" />*@ 
                                <div class="widget widget_apsc_widget">
                                    <div class="apsc-icons-wrapper clearfix apsc-theme-4">
                                        <div class="apsc-each-profile col-md-3 col-sm-3">
                                            <a id="btnFacebook" class="apsc-facebook-icon clearfix" href="#">
                                                <div class="apsc-inner-block">
                                                    <span class="social-icon">
                                                        <i class="fa fa-facebook apsc-facebook"></i>
                                                        <span class="media-name">Facebook</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="apsc-each-profile col-md-3 col-sm-3">
                                            <a id="btnTwitter" class="apsc-twitter-icon clearfix" href="#">
                                                <div class="apsc-inner-block">
                                                    <span class="social-icon">
                                                        <i class="fa fa-twitter apsc-twitter"></i>
                                                        <span class="media-name">Twitter</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="apsc-each-profile col-md-3 col-sm-3">
                                            <a id="btnReddit" class="apsc-edit-icon clearfix" href="#">
                                                <div class="apsc-inner-block">
                                                    <span class="social-icon">
                                                        <i class="apsc-posts fa fa-edit"></i>
                                                        <span class="media-name">Reddit</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>      
                                        
                            </div>

                        <div class="tab-header">
                            <h4 class="pull-left">@Model.CoinName Social Media Feeds:</h4>
                            @*<div class="clear"></div>*@
                        </div>
                
                        <div class="row">                            
                                <div id="facebook_data" class="col-md-12 col-sm-12 text-left">
                                    <div class="col-md-12 col-sm-12 text-center">
                                        <div class="fb-page" data-href="https://www.facebook.com/@Model.CoinName" data-tabs="timeline"
                                             data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                            <blockquote cite="https://www.facebook.com/@Model.CoinName" class="fb-xfbml-parse-ignore">
                                                @*<a href="https://www.facebook.com/@Model.CoinName">Facebook</a>*@
                                            </blockquote>
                                        </div>
                                    </div>
                                    <a href="https://www.facebook.com/hashtag/@Model.CoinName" style="bottom:-56px;position:relative;">View Users Post</a>
                                    @*<div id="lblmessage" style="font-size: 25px;text-align: center;">
                                        @*<input type="text" id="lblmessage" name="lblmessage" />
                                    </div>*@
                                </div>
 
                                <div id="twitter_data" class="col-md-6 col-sm-6 text-left" style="width: 100%; height: 500px;overflow:auto">
                                    @*<a class="twitter-timeline" href="https://twitter.com/@Model.CoinName" data-aria-polite="assertive">Twitter</a>*@
                                    <a class="twitter-timeline" href="https://twitter.com/@Model.CoinName"
                                       data-screen-name="@Model.CoinName" data-aria-polite="assertive" maxwidth="300" maxheight="400" style="overflow:auto">Tweets by@(Model.CoinName)</a>
                                </div>

                                <div id="reddit_data" class="col-md-12 col-sm-12 text-left">
                                    <div id="reddit" class="col-md-12 col-sm-12 text-left">

                                    </div>
                                </div>
                           </div>                           
                                                
                       @*<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F{@Model.CoinName}&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                       width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                       allowTransparency="true"></iframe>*@
                                             
                </div> 

            </div>
        </div>   
   
    <input type="hidden" id="txtguid" value="@ViewBag.Guid" />
    <input type="hidden" id="txtCoinName" value="@Model.CoinName" />
    <input type="hidden" id="txtCoinCode" value="@Model.CoinCode" />
    <input type="hidden" id="txtPrice" value="@ViewBag.Price"/>
    @*<input type="hidden" id="txtdescr" value="@Html.Raw(Model.Description)" />*@

</div>

@section head{
@*<link rel="stylesheet" type="text/css" href="~/Content/jquery.comiseo.daterangepicker.css" />*@
<link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/responsive.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
}

@section scripts{
    @*//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js*@
    <script src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    @*<script type="text/javascript" src="~/Scripts/jquery.comiseo.daterangepicker.js"></script>*@
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables.responsive.min.js"></script>
    @*<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>*@
    <script type="text/javascript" src="~/Scripts/canvasjs.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jspdf.min.js"></script>
    <script type="text/javascript" src="~/Scripts/custom/GetHistoryICO.js"></script>
    <script type="text/javascript" src="~/Scripts/custom/ChartsData.js"></script>
    <script type="text/javascript" src="~/Scripts/toastr.js"></script>
    <script type="text/javascript" src="~/Scripts/custom/GetPricePer.js"></script>
    <script>
        $(document).ready(function () {
            //setTimeout(function () {
            //    // document.title = "DavorCoin (DAV) $0.022717 (2.22%) | CoinMarketCap";
            //    $("#tblHistoryData_filter").remove();
            //}, 10000);

        });
    </script>
    <script>
        @*1.//https://developers.facebook.com/docs/plugins/page-plugin/  2.//https://www.facebook.com/hashtag 3.//https://developers.facebook.com/docs/javascript/examples*@
       
        $(document).ready(function () {
            
            $("a.twitter-timeline").hide();
            $(".SocialData").click(function () {

                $("#loader_img").hide();
                $("#reportrange").hide();
                $("#twitter_data").hide();
                $("#reddit_data").hide();
                $("#facebook_data").show();
                    //var a = $("#social-data").hasClass('active');
                var a = $("#facebook-jssdk");
                 var check_script_exist=document.getElementById('facebook-jssdk')
                 if (check_script_exist == null) {
                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12';
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                 }
                //else {
                    //(function (d, s, id) {
                    //    var js, fjs = d.getElementsByTagName(s)[0];
                    //    if (d.getElementById(id)) return;
                    //    js = d.createElement(s); js.id = id;
                    //    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12';
                    //    fjs.parentNode.insertBefore(js, fjs);
                    //}(document, 'script', 'facebook-jssdk'));
                //}
                
            });

            //$(".descriptionData").click(function () {
            //    $("#commanData").hide();
            //});
            //$("div.fb-page a").attr("disabled", true);
            //$("#facebook_data").hide();
            //$("#reddit").hide();
                //$("#twitter_data").hide();
       
            $("#btnFacebook").click(function () {

                $("#reddit_data").hide();
                $("#twitter_data").hide();
                $("#facebook_data").show();

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            //$("div.fb-page fb_iframe_widget")
            //setTimeout(function () {
            //    var check_exist = $('div').hasClass('fb-page fb_iframe_widget');
            //    if (check_exist == false) {
            //        printMsg();
            //    }
            //}, 2000);
            
        });    
       
        function printMsg() {
            $("#lblmessage").text("For that coin not Page on Facebook.");
        }

        $("#btnReddit").click(function () {  
            /* Reddit lazy load hack */
            $("#facebook_data").hide();
            $("#twitter_data").hide();
            $("#reddit_data").show();
            var check_exist = $('div').hasClass('rembeddit');
            if (check_exist == false) {
                var oScript = document.createElement("script");
                document.write = function (text) {
                    document.getElementById("reddit").innerHTML += text;
                };
                oScript.src = "https://www.reddit.com/r/@(Model.CoinName.TrimEnd()).embed?limit=9";
                document.body.appendChild(oScript);
            }          
        });

        });
    </script>
    @*<script src="https://www.reddit.com/r/@(Model.CoinName.TrimEnd()).embed?limit=9"></script>*@

    <script>
        var cname = $("#txtCoinName").val();
        $("#btnTwitter").click(function () {
            $("#facebook_data").hide();
            $("#reddit_data").hide();
            $("#twitter_data").show();
            $("a.twitter-timeline").hide();
          
            !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                    p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");

            //window.twttr = (function (d, s, id) {
            //    var js, fjs = d.getElementsByTagName(s)[0],
            //      t = window.twttr || {};
            //    if (d.getElementById(id)) return t;
            //    js = d.createElement(s);
            //    js.id = id;
            //    js.src = "https://platform.twitter.com/widgets.js";
            //    fjs.parentNode.insertBefore(js, fjs);
            //    t._e = [];
            //    t.ready = function (f) {
            //        t._e.push(f);
            //    };
            //    return t;
            //}(document, "script", "twitter-wjs"));

        });
      
    </script>
   
}
