﻿
@{
    ViewBag.Title = "ICO";
}
<style>
    table > thead > tr > th {
        color: #333333;
    }

    table {
        font-family: Arial;
    }
</style>

<div class="col-sm-12">   
        <table id="tblHistoryData" class="table table-condensed hover"></table>
</div>

<input type="hidden" id="txtguid" value="@ViewBag.Guid" />

@section head{
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/responsive.dataTables.min.css" />
}

@section scripts{

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables.responsive.min.js"></script>
<script type="text/javascript" src="~/Scripts/custom/GetHistoryICO.js"></script>
}