﻿@model BLL.ModelViews.ICO.Extend
@{
    ViewBag.Title = "ICO";
}
<h4>All Other ICO List - All Stages:</h4>
<div class="row">
    @Html.Partial("/Views/Shared/Partial/_ICOGrid.cshtml",BLL.Tools.Constants.Types.ICOCategory.OTHER);
</div>
   
@section head{
    <link href="~/Content/plugins/flipclock.css" rel="stylesheet" />
    @*<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/responsive.dataTables.min.css" />
}
@section scripts{
    <script src="~/Scripts/plugins/flipclock.min.js"></script>
          @*<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>*@
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
          @*<script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>*@
    <script src="~/Scripts/datatables.responsive.min.js"></script>
          @*<script src="https://cdn.datatables.net/buttons/1.5.0/js/dataTables.buttons.min.js"></script>*@
          @*<script src="https://cdn.datatables.net/select/1.2.4/js/dataTables.select.min.js"></script>*@
          @*<script src="https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap.min.js"></script>*@
          @*<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>*@
    <script src="/Areas/Admin/scripts/lib/moment.js"></script>
    <script src="~/Scripts/custom/ICO.js"></script>
}



