﻿
@model List<BLL.ModelViews.Subscriber.Extend>
@{
    ViewBag.Title = "Subscriber";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        // -------------------------------------------
        $(".tr-delete").on("click", function () {
            DeleteRecordRemoveTr(this, 'Admin/SubscriberManage');
        });
        $('.dataTable').DataTable();
        // -------------------------------------------
    });
</script>


<h1>Subscriber Manage </h1>
<form action="/" method="POST" id="form-main"> 
    <table class="table table-striped dataTable">
        <thead>
            <tr>
                <th>Delete</th>
                <th>Email</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>PostCode</th>
            </tr>
            <tr class="dataTable-input">
                <th>
                    <input type="hidden" />
                </th>  
                <th>
                    <input type="text" name="Email" class="dataTable-search-int" />
                </th>
                <th>
                    <input type="text" name="City" class="dataTable-search-string" />
                </th>
                <th>
                    <input type="text" name="State" class="dataTable-search-string" />
                </th>
                <th>
                    <input type="text" name="Country" class="dataTable-search-string" />
                </th>
                <th>
                    <input type="text" name="PostCode" class="dataTable-search-int" />
                </th>
                
            </tr>
        </thead>
        <tbody id="pnlTBody">
            @foreach (var item in Model)
            {
                <tr data-id="@item.Guid">
                    <td><a href="#" class="tr-delete"><i class="fa fa-trash-o"></i></a></td> 
                    <td>@item.Email</td>
                    <td>@item.City</td>
                    <td>@item.State</td>
                    <td>@item.Country</td>
                    <td>@item.PostCode</td>
                </tr>
            }
        </tbody>
    </table>
</form>