﻿@model BLL.ModelViews.User.Extend
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLoginLayout.cshtml";
}
@*<script type="text/javascript" src="/Scripts/app.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        var formMain = $("#form-main");
        $(formMain).validate();      
        $(formMain).submit(function () {
            // Validation Failed
            var postUrl = "/Admin/Login/ChangePasswordPost";
            var data=$("#form-main").serialize();
            if (!$(formMain).valid()) {
                return false;
            }
                $.post(postUrl,data, function (result) {
                if (result.success) {
                    //alert(result.message);
                    toastr.success(result.message);
                    window.location.href = "/Admin/Dashboard";
                }
                else {
                    //alert(result.message);
                    toastr.error(result.message);
                }
                }, 'json');

            // Process Form
            //var formButton = $("#btn-submit");
            //UpdateRecordChangePassword(formMain, formButton, 'Admin/Login', null);
            return false;
        });

        $(document).ready(function () {
            $("#struserrenewpassword").keyup(checkPasswordMatch);
            $('#btn-submit').attr('disabled', true);
        });
        function checkPasswordMatch() {
            var password = $("#NewPassword").val();
            var confirmPassword = $("#struserrenewpassword").val();
            if (password != confirmPassword) {
                $("#divCheckPasswordMatch").html("Passwords do not match!");
                $('#btn-submit').attr('disabled', true);
            }
            else {
                $("#divCheckPasswordMatch").html("Passwords match.");
                $('#btn-submit').attr('disabled', false);
            }
        }
    });
</script>

<h2>ChangePassword</h2>
@*action="ChangePasswordPost"  value="@BLL.Tools.CommonFunction.Decrypt(Model.UserName)"*@ 
<form action="#" method="POST" id="form-main">
    <div class="form-group">
        <label for="strusername">UserName</label>
        <input type="text" name="UserName" id="UserName" value="@Model.UserName" class="form-control required" readonly />
    </div>
    <div class="form-group">
        <label for="struserpassword">Old Password</label>
        <input type="password" name="Password" id="Password" value="" class="form-control required" />
    </div>
    <div class="form-group">
        <label for="strnewpassword"> New Password</label>
        <input type="password" name="NewPassword" id="NewPassword"  class="form-control required" />
    </div>
    <div class="form-group">
        <label for="strusernewpassword">Retype New Password</label>@*Retype*@ 
        <input type="password" name="struserrenewpassword" id="struserrenewpassword"  onChange="checkPasswordMatch();" class="form-control required" />
    </div>
    <div class="registrationFormAlert" id="divCheckPasswordMatch"></div>
    <div class="form-group">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
        <input type="hidden" id="Guid" name="Guid" value="@Model.Guid" />
    </div>
</form>