﻿
@{
    ViewBag.Title = "ForgotPassword";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLoginLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $('#form-main').submit(function () {
            var data = $("#form-main").serialize();
            var postUrl = "/Admin/Login/ForgotPassword";
            //JSON.stringify(data)
            $.post(postUrl, data, function (result) {
                if (result.success) {
                    //alert(result.message);
                    toastr.success(result.message);
                    window.location.href = "/Admin/Login";
                }
                else {
                    //alert(result.message);
                    toastr.error(result.message);
                    var obj = "";
                    $.each(result.validation, function (i, vObj) {
                        obj += vObj.ValidationMessage + "<br />";
                    });
                    toastr.error(obj);
                }
            });
            return false;
        });
    });
</script>

<h2>Forgot Password</h2>

<form action="/" method="POST" id="form-main">

    <div class="form-group">
        User Name/Email                   
        <input type="text" name="UserName" id="UserName" value="" class="form-control required" />
    </div>

    <div class="form-group">
        <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>