﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLoginLayout.cshtml";
}

@*<script type="text/javascript" src="~/scripts/app.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {

        $("#userName").focus();

        var formMain = $("#form-main");
        $(formMain).validate();
        $(formMain).submit(function () {
            //e.preventDefault();
            // Validation Failed
            if (!$(formMain).valid()) {
                return false;
            }
            var captchResponse = grecaptcha.getResponse();
           // var captchResponse = $('#recaptcha').val();
            if (captchResponse.length == 0) {
                // You can return the message to user
                toastr.error('Please complete the reCAPTCHA challenge!');
                return false;
            } else {
                // Add reCAPTCHA response to the POST
                formMain.recaptcha = captchResponse;
            }

             //Process Form
            var formButton = $("#btn-submit");
            UpdateRecordLogin(formMain, formButton, 'Login', "Admin");

            //var form = $("#form-main").serialize();
            //$.ajax({
            //    url: "/Login/Post",
            //    datatype: 'json',
            //    data: JSON.stringify(form),
            //    contentType: "application/json; charset=utf-8",
            //    success: function (data) {
            //        if (data.result == "Error") {
            //            alert(data.message);
            //            toastr.success(data.message);
            //        }
            //    }
            //    //failure :function(data){
            //    //}
            //});

            return false;
        });
        
    });
</script>

<form action="/" method="POST" id="form-main">
    <div class="form-group">
        <br />
        @*<br />*@
    </div>
    <div class="form-group">
         User Name
        <input type="text" name="userName" id="userName" value="" class="form-control required" />
    </div>

    <div class="form-group">
         Password
        <input type="password" name="password" id="password" value="" class="form-control required" />
    </div>

    <div class="form-group">     
        <div id="recaptcha" name="recaptcha"class="g-recaptcha" data-sitekey="@BLL.Tools.Constants.API.RECAPTCHA_PUBLIC_KEY"></div>
        @*<span class="text-danger">@ViewBag.Message</span>*@
    </div>
    <div class="form-group"> 
        <a href="/Admin/Login/ForgotPassword">Forgot Password ?</a>
    </div>
    <div class="form-group">
        <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
        <input type="hidden" id="guid" name="guid" value="" />
    </div>
</form>

@section scripts{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}