﻿
@{
    ViewBag.Title = "Logout";
    Layout = "~/Areas/Admin/Views/Shared/_Logout.cshtml";
}
<h2>Logout</h2>
<div>
    <div><p>you were successfully Logout.</p></div>
    <div><p><a href="/Admin/Login/Index">Click Here To Login</a></p></div>
</div>