﻿@model BLL.ModelViews.ResetPassword
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLoginLayout.cshtml";

    var email = Request.Url.Segments[1];
    var code = Request.Url.Segments[2];
}

<script>
    $(document).ready(function () {
        $('#form-main').submit(function () {
            var data = $("#form-main").serialize();
            var postUrl = "/Admin/Login/ResetPassword";
            //JSON.stringify(data)
            $.post(postUrl, data, function (result) {
                if (result.success) {
                    //alert(result.message);
                    toastr.success(result.message);
                    window.location.href = "/Admin/Login";
                }
                else {
                    //alert(result.message);
                    toastr.error(result.message);
                    var obj = "";
                    $.each(result.validation, function (i, vObj) {
                        obj += vObj.ValidationMessage + "<br />";
                    });
                    toastr.error(obj);
                }
            });
            return false;
        });
        $(document).ready(function () {
            $("#ConfirmNewPassword").keyup(checkPasswordMatch);
            $('#btn-submit').attr('disabled', true);
        });
        function checkPasswordMatch() {
            var password = $("#Password").val();
            var confirmPassword = $("#ConfirmNewPassword").val();
            if (password != confirmPassword) {
                $("#divCheckPasswordMatch").html("Passwords do not match!");
                $('#btn-submit').attr('disabled', true);
            }
            else {
                $("#divCheckPasswordMatch").html("Passwords match.");
                $('#btn-submit').attr('disabled', false);
            }
        }
    });
</script>

<h2>Reset Password</h2>

<form action="/" method="POST" id="form-main">

    <div class="form-group">
        New Password
        <input type="password" name="Password" id="Password" value="" class="form-control required" />
    </div>

    <div class="form-group">
        Confirm Password
        <input type="password" name="ConfirmNewPassword" id="ConfirmNewPassword" onChange="checkPasswordMatch();" value="" class="form-control required" />
    </div>

    <div class="form-group">
        ReturnToken
        <input type="text" name="ReturnToken" id="ReturnToken" value="@ViewBag.ReturnToken" class="form-control required" />
    </div>

    <div class="registrationFormAlert" id="divCheckPasswordMatch"></div>

    <div class="form-group">
        <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
