﻿@model BLL.ModelViews.ICO.Extend
@using WiCms.Areas.Admin.Models;
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<BLL.ModelViews.Category.Extend> vbCategoryList = ViewBag.CategoryList;
}

@*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.js"></script>*@

<script type="text/javascript">
    $(document).ready(function () {

        //$('#frm1').on('submit', function (e) {
        //    e.preventDefault();
        //});
        
        $(function () {
            $("input.datepicker").datepicker({
                dateFormat: "dd/mm/yyyy",
                    changeMonth: true,
                    changeYear: true,
                    autoclose: true
                    //yearRange: "-60:+0"
            });  
        });

        $('#nextround').datetimepicker({
            //format: 'dd-m-yy hh:ii'
            //inline: true
            format: "yyyy/mm/dd HH:ii P",
            showMeridian: true,
            autoclose: true,
            todayBtn: true
        });

        $('#frm1').submit(function () {
            for (instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
            var data = $("#frm1").serialize();
            var postUrl = "/Admin/ICOManage/Post";
            //JSON.stringify(data)
            $.post(postUrl, data, function (result) {

                if (result.success) {
                    //alert(result.message);
                    toastr.success(result.message);
                    window.location.href = "/Admin/ICOManage";
                }
                else {
                    //alert(result.message);
                    toastr.error(result.message);
                    var obj = "";
                    $.each(result.validation, function (i, vObj) {
                        obj += vObj.ValidationMessage + "<br />";
                        // toastr.error(obj);
                        //console.log(vObj.ValidationMessage);
                        //$("#" + vObj.ValidationField).insertAfter("<span class='text-danger'>" + vObj.ValidationMessage + "</span>");
                    });
                    toastr.error(obj);
                }
            });
            return false;
        });
    });
</script>

<style>
    .prev {
        background-color: #a9b3ae !important;
        background-image: url("../../../../Areas/Admin/Content/images/prev_dp.PNG") !important;
        /*color: blue !important;*/
    }

    .next {
        background-color: #a9b3ae !important;
        background-image: url("../../../../Areas/Admin/Content/images/next_dp1.PNG") !important;
        /*color: blue !important;*/
    }
</style>

<h1>ICO </h1>

<form id="frm1" action="#" method="post">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @*<label>Coin Code <span class="text-danger">*</span></label>*@
                <input type="text" name="CoinCode" id="CoinCode" value="@Model.CoinCode" class="form-control" required />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label> Coin Name</label>
                <input type="text" name="CoinName" id="CoinName" value="@Model.CoinName" class="form-control" required/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label> Coin Icon URL</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-link"></i></span>
                    <input type="text" name="CoinIcon" id="CoinIcon" class="form-control" value="@Model.CoinIcon" placeholder="">
                    <span class="input-group-btn">
                        <a data-toggle="modal" class="btn btn-primary" href="javascript:void(0);" data-target="#ModalFileBrowser">Browse Image</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="rate">Rate</label>
                <div class="input-group">
                    <input type="text" name="rate" id="rate" value="@Model.Rate" class="form-control required" />
                    <span class="input-group-addon">out of 5</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="hype">Hype</label>
                <select class="form-control required" name="hype" id="hype">
                    <option @(Model.Hype == "VERY HIGH" ? "selected" : "")>VERY HIGH</option>
                    <option @(Model.Hype == "HIGH" ? "selected" : "")>HIGH</option>
                    <option @(Model.Hype == "MID" ? "selected" : "")>MID</option>
                    <option @(Model.Hype == "LOW" ? "selected" : "")>LOW</option>
                    <option @(Model.Hype == "VERY LOW" ? "selected" : "")>VERY LOW</option>
                    <option @(Model.Hype == "SCAM" ? "selected" : "")>SCAM</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="scam">Scam</label>
                <select class="form-control required" name="scam" id="scam">
                    <option @(Model.Scam == "VERY HIGH" ? "selected" : "")>VERY HIGH</option>
                    <option @(Model.Scam == "HIGH" ? "selected" : "")>HIGH</option>
                    <option @(Model.Scam == "MID" ? "selected" : "")>MID</option>
                    <option @(Model.Scam == "LOW" ? "selected" : "")>LOW</option>
                    <option @(Model.Scam == "VERY LOW" ? "selected" : "")>VERY LOW</option>
                    <option @(Model.Hype == "SCAM" ? "selected" : "")>SCAM</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="moon">Moon</label>
                <select class="form-control required" name="moon" id="moon">
                    <option @(Model.Moon == "VERY HIGH" ? "selected" : "")>VERY HIGH</option>
                    <option @(Model.Moon == "HIGH" ? "selected" : "")>HIGH</option>
                    <option @(Model.Moon == "MID" ? "selected" : "")>MID</option>
                    <option @(Model.Moon == "LOW" ? "selected" : "")>LOW</option>
                    <option @(Model.Moon == "VERY LOW" ? "selected" : "")>VERY LOW</option>
                    <option @(Model.Hype == "SCAM" ? "selected" : "")>SCAM</option>
                </select>
            </div>
        </div>
        @*//Convert.ToDateTime(Model.Start).ToLocalTime()*@
        <div class="col-md-4">
            <div class="form-group">
                <label for="start">Start</label>
                <input type="text" name="start" id="start" value="@Model.Start" class="form-control required datepicker" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="icoend">ICOEnd</label>
                <input type="text" name="icoend" id="icoend" value="@Model.ICOEnd" class="form-control required datepicker" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="nextround">NextRound</label>
                <input type="text" name="nextround" id="nextround" value="@Convert.ToDateTime(Model.NextRound).ToLocalTime()" class="form-control required" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="stage">Stage</label>
                <select class="form-control required" name="stage" id="stage">
                    <option @(Model.Stage == BLL.Tools.Constants.Types.Stage.ICO ? "selected" : "")>@BLL.Tools.Constants.Types.Stage.ICO</option>
                    <option @(Model.Stage == BLL.Tools.Constants.Types.Stage.EXCHANGE ? "selected" : "")>@BLL.Tools.Constants.Types.Stage.EXCHANGE</option>
                    <option @(Model.Stage == BLL.Tools.Constants.Types.Stage.ICO_TODAY ? "selected" : "")>@BLL.Tools.Constants.Types.Stage.ICO_TODAY</option>
                    <option @(Model.Stage == BLL.Tools.Constants.Types.Stage.ENDED ? "selected" : "")>@BLL.Tools.Constants.Types.Stage.ENDED</option>                    
                    <option @(Model.Hype == BLL.Tools.Constants.Types.Stage.CLOSED ? "selected" : "")>@BLL.Tools.Constants.Types.Stage.CLOSED</option>
                    <option @(Model.Hype == BLL.Tools.Constants.Types.Stage.LENDING ? "selected" : "")>@BLL.Tools.Constants.Types.Stage.LENDING</option>
                    <option @(Model.Hype == BLL.Tools.Constants.Types.Stage.SCAM ? "selected" : "")>@BLL.Tools.Constants.Types.Stage.SCAM</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" name="price" id="price" value="@Model.Price" class="form-control required" />
                </div>
            </div>
        </div>

        <div class="col-md-12"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="website">Website</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-link"></i></span>
                    <input type="text" name="website" id="website" value="@Model.Website" class="form-control required" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="ReferrerUrl">Referrer Url</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-link"></i></span>
                    <input type="text" name="ReferrerUrl" id="ReferrerUrl" value="@Model.ReferrerUrl" class="form-control required" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="marketcap">MarketCap</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" name="marketcap" id="marketcap" value="@Model.MarketCap" class="form-control required" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="circulatingsupply">CirculatingSupply</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" name="circulatingsupply" id="circulatingsupply" value="@Model.CirculatingSupply" class="form-control required" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="maxsupply">MaxSupply</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" name="maxsupply" id="maxsupply" value="@Model.MaxSupply" class="form-control required" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <fieldset style="border:2px solid #c0c0c0;padding: 10px;">
                <legend style="width:100px;padding:1px;">Category</legend>
                <div class="btn-group" datat-toggle="buttons">
                    @foreach (var item in vbCategoryList)
                    {
                        <label class="btn btn-default">
                            <input type="checkbox" name="CategoryIDs" value="@item.ID" @(Model.CategoryIDs == null || Model.CategoryIDs.Contains(item.ID)? "checked":"") > @item.Title
                        </label>
                    }
                </div>
                
            </fieldset>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" class="form-control">@Model.Description</textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
                <a href="/Admin/ICOManage/Index" class="btn btn-primary">Cancel</a>
                <input type="hidden" id="Guid" name="Guid" value="@Model.Guid" />
                <input type="hidden" id="Id" name="Id" value="@Model.ID" />
            </div>
        </div>
    </div>
</form> 


<div class="modal fade" id="ModalFileBrowser">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Select Crypto Coin Icon </h4>
            </div>
            <div class="modal-body">
                <iframe src="/filemanager/dialog.php?type=1&fldr=&field_id=CoinIcon" frameborder="0" style="overflow:hidden;min-height:600px; height:100%;width:100%" height="100%" width="100%"></iframe>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/toastr.js"></script>
    <script src="/Content/ckeditor/ckeditor.js"></script>
    <script>
            $(document).ready(function () {
                // ----- Demo Referrence : http://www.responsivefilemanager.com/demo.php ----- //
                CKEDITOR.replace("description", {
                    filebrowserBrowseUrl: '/filemanager/dialog.php?type=2&editor=ckeditor&fldr=',
                    filebrowserImageBrowseUrl: '/filemanager/dialog.php?type=1&editor=ckeditor&fldr='
                });
            })
    </script>
}