﻿@model List<BLL.ModelViews.ICO.Extend>
@{
    ViewBag.Title = "ICO";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/Scripts/app.js"></script>
<link href="~/Content/plugins/switchery.css" rel="stylesheet" />
<script src="~/Scripts/plugins/switchery.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/responsive.dataTables.min.css" />

@section scripts{

    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables.responsive.min.js"></script>
    <script src="/Areas/Admin/scripts/lib/moment.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/scripts/custom/ManageICOData.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
          
            $('.date-picker').datepicker({
                format: "yyyy/mm/dd",
                changeMonth: true,
                changeYear: true,
                autoclose: true               
            });
            
        //setTimeout(function () {
        //var Switchery = require('switchery');
        //$("table#ICOData input.js-switch").each(function (index, item) {
        //    var init = new Switchery(item);
        //});
        //}, 3000);

        //$("#form-main").submit(function (e) {
        //    //stop submitting the form to see the disabled button effect
        //    e.preventDefault();
        //    //disable the submit button
        //    $("#checkPrice").attr("disabled", true);
        //    //disable a normal button
        //    $("#checkPrice").attr("disabled", true);
        //    return true;
        //});
            
            $("#backupICOHistory").on("click", function () {
               // $("#backupICOHistory").attr("disabled", true);
               // $('#modelWindow').modal('show');
                var selDate = $("#selectBackUpDate").val();
                var postUrl="/admin/ICOManage/BackupICOHistory";
                $.post(postUrl, {selDate: selDate }, function (result) {

                    if (result.success) {
                       // $("#backupICOHistory").removeAttr('disabled');
                        toastr.success(result.message);
                        $("#selectBackUpDate").val("");
                    }
                    else {
                        //$("#backupICOHistory").removeAttr('disabled');
                        toastr.error(result.message);
                    }
                });
                return false;

                //$.post({
                //    url: "/admin/ICOManage/BackupICOHistory",
                //    dataType: 'json',
                //    success: function (result) {                       
                //        $("#backupICOHistory").removeAttr('disabled');
                //        toastr.success(result.message);
                //    },
                //    error: function (result) {
                //        $("#backupICOHistory").removeAttr('disabled');
                //        toastr.error(result.message);
                //    }
                //});
            });

            $("#checkPrice").on("click", function () {
            $("#checkPrice").attr("disabled", true);
            $.post({
                url: "/admin/ICOManage/UpdatePrice",
                dataType: 'json',
                success: function (result) {
                    //if (result.success) {
                        $("#checkPrice").removeAttr('disabled');
                        toastr.success(result.message);
                    //}
                },
                error: function (result) {
                    $("#checkPrice").removeAttr('disabled');
                    toastr.error(result.message);
                }
            });
        });

    });
    function Search(id) {
        if (id == "") {
            document.getElementById("Data").innerHTML = "";
            $("#panel1").collapse('hide');
            return false;
        }
        $("#panel1").collapse('show');
        document.getElementById("Data").innerHTML = "<tr> <i class='fa fa-spinner fa-spin'></i> Searching.<i class='fa fa-spin'><i class='fa fa-spin'>.</i>.</i></th></tr>";
        $.ajax({
            type: "POST",
            url: "/MRSAdmin/SearchByMRSid",
            data: "{id:" + id + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var htmldata = "";
                if (data.length <= 0)
                    var htmldata = "<tr> <th colspan=6> Not found </th></tr>";
                for (var i = 0; i < data.length; i++) {
                    htmldata += "<tr> <td > <a href='" + data[i].AccessRecords + "' class='btn btnTable' title='Edit Record'><i class='fa fa-pencil-square-o'></i></a>"
                        + "</td> <td>" + data[i].ID
                        + "</td> <td>" + data[i].Name
                        + "</td> <td>" + data[i].Type
                        + "</td> </tr>";
                }
                document.getElementById("Data").innerHTML = htmldata;
            },
            error: function () {
                $("#panel1").collapse('hide');//hide();
                document.getElementById("Data").innerHTML = " Not Found! ";
            }
        });
        return false;

    }

    function changeRecommand(guid,IsRecommand) {
        console.log(guid);
    }

    </script>
    
}

<h1>ICO Manage </h1>
<form action="/" method="POST" id="form-main">

        <div class="row">
            <div class="col-md-2 col-sm-2">
                <a href="/Admin/ICOManage/Create" class="btn btn-success">New ICO</a>
            </div>
            <div class="col-md-2 col-sm-2">
                <a id="checkPrice" href="#" class="btn btn-success">Update Price</a>
            </div>
            <div class="col-md-2 col-sm-2">
                @*<a id="backupICOHistory" href="#" class="btn btn-success">Backup ICOHistory</a> //btn-info btn-lg*@
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Backup ICOHistory</button>
            </div>
        </div>

        <div class="col-md-12 col-sm-12">
            &nbsp;
        </div>

        <div class="col-md-12 col-sm-12">
            <table id="ICOData" class="table table-condensed hover"></table>
        </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">BackUp ICO Data</h4>
                </div>
                <div class="modal-body">
                    <input type="text" id="selectBackUpDate" name="selectBackUpDate" class="date-picker" />
                    <br />
                    <br />
                    <input type="submit" id="backupICOHistory" name="backupICOHistory" placeholder="Select Date..."/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    @*<div class="modal fade" id="modelWindow" role="dialog">
        <div class="modal-dialog modal-sm vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Date:</h4>
                </div>
                <div class="modal-body">
                   <input type="text" id="selectBackUpDate" name="selectBackUpDate" class="date-picker"/>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>*@

</form>
