﻿.editlink 
{
    cursor:pointer;
}

.popblockstyle 
{
    width: 100%;
    height: 100%;top: 0;left: 0;display: none;position: fixed;background-color: #00; overflow:auto; z-index:1000;
}

.popform
 {
background-color: white !important;
    border: 2px solid gray !important;
    border-radius: 10px !important;
    font-family: raleway !important;
    max-width: 239px !important;
    min-width: 380px !important;
    padding: 17px 21px 11px 14px !important;
}

.poptxtbox 
{
    background-repeat: no-repeat;
    background-position: 5px 7px;
    width:60%;
    padding: 6px 10px 10px 18px;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-left: 40px;
    font-size: 16px;
    font-family:raleway;
}

.PopSubmitBtn 
{
    background: none repeat scroll 0 0 hsl(120, 39%, 54%);
    color: hsl(0, 0%, 100%);
    border: medium none;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    padding: 3px 12px;
    transition: all 0.3s ease-out 0s;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.42857143;
  border-radius: 18;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-default {
  color: #333333;
  background-color: #e7e7e7;
  border-color: #dadada;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #d3d3d3;
  border-color: #bbbbbb;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #e7e7e7;
  border-color: #dadada;
}
.btn-default .badge {
  color: #e7e7e7;
  background-color: #333333;
}