﻿@model BLL.ModelViews.NewsManage.Extend
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
@*<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
<script>
    $(document).ready(function () {
        //for  datetimepicker format: "yyyy/mm/dd HH:ii P",
        $('.datepicker').datetimepicker({
            //format: "yyyy/mm/dd",
            //changeMonth: true,
            //changeYear: true,
            //autoclose: true
            format: "yyyy/mm/dd HH:ii P",
            showMeridian: true,
            autoclose: true,
            todayBtn: true
        });

        $("#EndEventDate").change(function () {
            // Check input( $( this ).val() ) for validity here input[type='text']
            var end_date = $(this).val();
            var start_date = $("#StartEventDate").val();
            if (end_date < start_date) {
                toastr.error("EndEvent Date must be greater than to StartEvent Date.");
                $("#EndEventDate").focus();
            }
        });

        $('#form-main').submit(function () {
            for (instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
            var data = $("#form-main").serialize();
            var postUrl = "/Admin/NewsManage/Post";
            //JSON.stringify(data)
            $.post(postUrl, data, function (result) {

                if (result.success) {
                    //alert(result.message);
                    toastr.success(result.message);
                    window.location.href = "/Admin/NewsManage";
                }
                else {
                    //alert(result.message);
                    toastr.error(result.message);
                    var obj = "";
                    $.each(result.validation, function (i, vObj) {
                        obj += vObj.ValidationMessage + "<br />";
                        // toastr.error(obj);
                        //console.log(vObj.ValidationMessage);
                        //$("#" + vObj.ValidationField).insertAfter("<span class='text-danger'>" + vObj.ValidationMessage + "</span>");
                    });
                    toastr.error(obj);
                }
            });
            return false;
        })

    });
</script>
<style>
    .prev {
        background-color: #a9b3ae !important;
        background-image: url("../../../../Areas/Admin/Content/images/prev_dp.PNG") !important;
        /*color: blue !important;*/
    }
    .next {
        background-color: #a9b3ae !important;
        background-image: url("../../../../Areas/Admin/Content/images/next_dp1.PNG") !important;
        /*color: blue !important;*/
    }
</style>

<form action="#" method="POST" id="form-main">
    @*<div class="col-md-12">*@
        <div class="form-group">
            <label>Header Image</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-link"></i></span>
                <input type="text" name="HeaderImage" id="HeaderImage" class="form-control" value="@Model.HeaderImage" placeholder="">
                <span class="input-group-btn">
                    <a data-toggle="modal" class="btn btn-primary" href="javascript:void(0);" data-target="#ModalFileBrowser">Browse Image</a>
                </span>
            </div>
        </div>
    @*</div>*@
    <div class="form-group">
        <label for="StartEventDate">Author</label>
        <input type="text" name="Author" id="Author" value="@Model.Author" class="form-control required" maxlength="150" />
    </div>

    <div class="form-group">
        <label for="StartEventDate">Title</label>
        <div class="editor-field">
            <input type="text" name="Title" id="Title" value="@Model.Title" class="form-control required" maxlength="150" />
        </div>
    </div>
    <div class="form-group">
        <label for="StartEventDate">Short Description</label>
        <input type="text" name="ShortDescription" id="ShortDescription" value="@Model.ShortDescription" class="form-control required" maxlength="500" />
    </div>

    <div class="form-group">
        <label for="LongDescription">Long Description</label>
        <textarea id="LongDescription" name="LongDescription" class="form-control">@Model.LongDescription</textarea>
    </div>
    
    <div class="form-group">
       <label for="StartEventDate">Start Event</label>
       <input type="text" name="StartEventDate" id="StartEventDate" value="@Convert.ToDateTime(Model.StartEventDate).ToLocalTime()" class="form-control required datepicker" />
    </div>  
   
    <div class="form-group">
       <label for="EndEventDate">End Event</label>
       <input type="text" name="EndEventDate" id="EndEventDate" value="@Convert.ToDateTime(Model.EndEventDate).ToLocalTime()" class="form-control required datepicker" />
    </div>

    @*<div class="form-group">
        <label for="Sort">Sort</label>
        <input type="text" name="Sort" id="Sort" value="@Model.Sort" class="form-control required" />
    </div>*@

    <div class="form-group">
        <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
        <a href="/Admin/NewsManage/Index" class="btn btn-primary">Cancel</a>
        <input type="hidden" id="guid" name="guid" value="@Model.Guid" />
        <input type="hidden" id="Id" name="Id" value="@Model.ID" />
    </div>
</form>

<div class="modal fade" id="ModalFileBrowser">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Select Crypto Coin Icon </h4>
            </div>
            <div class="modal-body">
                <iframe src="/filemanager/dialog.php?type=1&fldr=&field_id=HeaderImage" frameborder="0" style="overflow:hidden;min-height:600px; height:100%;width:100%"></iframe>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/toastr.js"></script>
    <script src="/Content/ckeditor/ckeditor.js"></script>
    <script>
    $(document).ready(function () {
        // ----- Demo Referrence : http://www.responsivefilemanager.com/demo.php ----- //
        CKEDITOR.replace("LongDescription", {
            filebrowserBrowseUrl: '/filemanager/dialog.php?type=2&editor=ckeditor&fldr=',
            //filebrowserUploadUrl: '/filemanager/dialog.php?type=2&editor=ckeditor&fldr=',
            filebrowserImageBrowseUrl: '/filemanager/dialog.php?type=1&editor=ckeditor&fldr='
        });
    })
    </script>
}
