﻿@model List<BLL.ModelViews.NewsManage.Extend>
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="/Scripts/app.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
       
        $(".tr-delete").on("click", function () {
            DeleteRecordRemoveTr(this, 'Admin/NewsManage');
        });

        $('.dataTable').DataTable();

    });
</script>

<h2>News Manage</h2>

<form action="/" method="POST" id="form-main">

    <a href="/Admin/NewsManage/Create" class="btn btn-success">Add News</a>

    <table class="table table-striped dataTable">
        <thead>
            <tr>
                <th>Delete</th>
                <th>Edit</th>
                @*<th>Header Image</th>*@
                <th>Author</th>
                <th>Title</th>
                <th>Short Description</th>
                @*<th>Long Description</th>*@
                <th>Start Event</th>
                <th>End Event</th>
            </tr>
            <tr class="dataTable-input">
                <th>
                    <input type="hidden" />
                </th>
                <th>
                    <input type="hidden" />
                </th>

                @*<th>
                    <input type="text" name="StHeaderImage" class="dataTable-search-string" />
                </th>*@
                <th>
                    <input type="text" name="Author" class="dataTable-search-string" />
                </th>
                <th>
                    <input type="text" name="Title" class="dataTable-search-string" />
                </th>
                <th>
                    <input type="text" name="ShortDescription" class="dataTable-search-string" />
                </th>
                @*<th>
                    <input type="text" name="LongDescription" class="dataTable-search-string" />
                </th>*@
                <th>
                    <input type="text" name="StartEventDate" class="dataTable-search-int" />
                </th>
                <th>
                    <input type="text" name="EndEventDate" class="dataTable-search-int" />
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-id="@item.Guid">
                    <td>
                        <a href="#" class="tr-delete"><i class="fa fa-trash-o"></i></a>
                    </td>
                    <td>
                        <a href="/Admin/NewsManage/Details?guid=@item.Guid"><i class="fa fa-edit"></i></a>
                    </td>
                    @*<td>@item.HeaderImage</td>*@
                    <td>@item.Author</td>
                    <td>@item.Title</td>
                    <td>@item.ShortDescription</td>
                    @*<td>@item.LongDescription</td>*@
                    <td>@Convert.ToDateTime(item.StartEventDate).ToLocalTime()</td>
                    <td>@Convert.ToDateTime(item.EndEventDate).ToLocalTime()</td>                    
                </tr>
            }
        </tbody>
    </table>
</form>