﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .image {
        height: 128px;
        opacity: 0.6;
        transition: opacity .50s ease-in-out;
        -moz-transition: opacity .50s ease-in-out;
        -webkit-transition: opacity .50s ease-in-out;
    }

        a:hover .image {
            opacity: 1.0;
        }

        a:hover {
            text-decoration:none;
        }
</style>

<h2>Dashboard</h2>
<div class="col-md-12">
    <div class="col-md-3 text-center">
        <a href="/">
            <img src="~/images/Dashboard_Images/Dashboard_Admin.png" class="img-responsive image center-block" />
            <h3>Home</h3>
        </a>
    </div> 
    <div class="col-md-3 text-center">
        <a href="/admin/CMSManage">
            <img src="~/images/Dashboard_Images/CMS.png" class="img-responsive image center-block" />
            <h3>CMS Management</h3>
        </a>
    </div>
    <div class="col-md-3 text-center">
        <a href="/admin/ICOManage">
            <img src="~/images/Dashboard_Images/ICO.png" class="img-responsive image center-block" />
            <h3>ICO Management</h3>
        </a>
    </div>
    <div class="col-md-3 text-center">
        <a href="/admin/SubscriberManage">
            <img src="~/images/Dashboard_Images/images (7).jpg" class="img-responsive image center-block" />
            <h3>Subcriber Management</h3>
        </a>
    </div>

    <div class="col-md-3 text-center">
        <a href="/admin/Users">
            <img src="~/images/Dashboard_Images/images (3).png" class="img-responsive image center-block" />
            <h3>Users Management</h3>
        </a>
    </div>
    <div class="col-md-3 text-center">
        <a href="/admin/BroadCastMail">
            <img src="~/images/Dashboard_Images/download (2).png" class="img-responsive image center-block" />
            <h3>BroadCast Mail</h3>
        </a>
    </div>
    <div class="col-md-3 text-center">
        <a href="/admin/NewsManage">
            <img src="~/images/Dashboard_Images/download.png" class="img-responsive image center-block" />
            <h3>News Management</h3>
        </a>
    </div>
    
</div>