﻿@model BLL.ModelViews.URLResponse
@{
    ViewBag.Title = "Index";
}
@*<section class="ls">
    <div class="container">
        <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div style="padding:20px">
                       @Model.Title
                    </div>

                    <div style="padding:20px;">
                        @Model.Message
                    </div>

                    <div padding:20px>
                        You can go to the <a href="@Model.Page_Link">@Model.Link_Text</a>
                    </div>
               </div>
         </div>
     </div>
</section>*@

<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <div class="inline-block text-center">
            <p class="not_found" style="font-size:18px"> <span class="highlight">@Model.Title</span> </p>
            <h3>@Model.Message</h3>
            <p> You can search what interested: </p>
            <div class="widget widget_search">
                <form method="get" class="searchform" action="#">
                    <div class="form-group">
                        <label class="sr-only" for="topline-search">Search for:</label>
                        <input type="text" id="topline-search" value="" name="search" list="json-datalist" class="form-control" placeholder="Keyword">
                        <div class="dataList"></div>
                        <datalist id="json-datalist"></datalist>
                    </div>
                    <button type="submit" class="theme_button color1 no_bg_button">Search</button>
                </form>
            </div>
            <p> or </p>
            <p> <a href="@Model.Page_Link" class="theme_button color1">@Model.Link_Text</a> </p>
        </div>
    </div>
</div>

