﻿
@{
    ViewBag.Title = "ContactUs";
}

<h3>Contact Us Page</h3>
<form action="/" method="POST" id="form-main">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">FirstName:</label>
        <div class="col-sm-10">
            <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="Enter your FirstName" required/>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">LastName:</label>
            <div class="col-sm-10">
                <input type="text" name="LastName" id="LastName" class="form-control" placeholder="Enter your LastName" required/>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">EmailId:</label>
            <div class="col-sm-10">
                <input type="email" name="EmailId" id="EmailId" class="form-control" placeholder="Enter your EmailId" required/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">PhoneNo:</label>
            <div class="col-sm-10">
                <input type="tel" name="PhoneNo" id="PhoneNo" class="form-control" placeholder="Enter your PhoneNo" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Message:</label>
            <div class="form-check col-sm-10">
                <textarea id="Message" name="Message" class="form-control" placeholder="Write your Message here..." required/>
            </div>
        </div>
    </div>
    <div class="form-group">
        @*<button id="btn-add" type="submit" class="btn btn-primary">Submit</button>*@
        <input type="submit" id="btnSubmit" class="btn btn-success" value="SUBMIT"/>
    </div>
</form>

