﻿
@{
    ViewBag.Title = "ContactUs";
}
@*<script>
$(document).ready(function() {
    //$("#form1").validate({
    //    rules: {
    //            //This section we need to place our custom rule for the control.
    //    },
    //    messages: {
    //            //This section we need to place our custom validation message for each control.
    //    },
    //});    
});
</script>*@
<style>
    /*label.error {             
            color: red;   
            display:inline-flex ;                 
    }*/  
/*#field{
    margin-left: .5em;
    float: right;
}

#field, label{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

br{
    clear: both;
}

input{
    border: 1px solid black;
    margin-bottom: .5em;
}

input.error{
    border: 1px solid red;
}

label.error{
    position:absolute;
    background: url('Images/unchecked.gif') no-repeat;
    padding-left: 20px; 
    margin-left: .3em; 
    vertical-align: middle;
    background-color: #FFEBE8;
    border: solid 1px red;
    width: 250px;
}

label.valid{
    position:inherit;
    background: url('Images/checked.gif') no-repeat;
    display: block;
    width: 16px;
    height: 16px;
    border: none;
    vertical-align:top;
}*/
</style>
<section class="ls">
    <div class="container">
        <div class="row">
                <form action="/" align="center" method="POST" id="form-mail">
                   @*<h3 class="pull-md-left"><b>Contact</b> Us</h3>
                    <br />*@
                    <div class="form-group">
                        <div class="form-group row">
                            <h3 class="col-sm-3 pull-md-left"><b>Contact</b> Us</h3>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Full Name:</label>
                            <div class="col-sm-5">
                                <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="Enter your FirstName" @*required*@/>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" name="LastName" id="LastName" class="form-control" placeholder="Enter your LastName" @*required*@/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Email:</label>
                            <div class="col-sm-10">
                                <input type="text" name="EmailId" id="EmailId" class="form-control" placeholder="Enter Your Email Id" @*required*@/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Contact No:</label>
                            <div class="col-sm-10">
                                <input type="text" name="PhoneNo" id="PhoneNo" class="form-control" placeholder="Enter Your Contact No" @*required*@/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Message:</label>
                            <div class="col-sm-10">
                               <textarea id="Message" name="Message" class="form-control" placeholder="Write your message here..." @*required*@></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group row">
                            <div class="col-md-2">
                               &nbsp;
                            </div>
                            <div class="col-sm-6">
                                <div class="g-recaptcha" data-sitekey="@BLL.Tools.Constants.API.RECAPTCHA_PUBLIC_KEY"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group row">
                                <div class="col-sm-3 pull-md-right">
                                    <input type="submit" id="btnSendMail" class="btn btn-success" name="btnSendMail" value="SEND MAIL" />
                                </div>
                            </div>
                    </div>

                </form>         
            </div>
        </div>
</section>
@section scripts{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
   <!--include jQuery -->
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
        type="text/javascript"></script>*@

    @*<script type="text/javascript" src="~/Scripts/toastr.js"></script>*@
    <script type="text/javascript" src="~/Scripts/custom/ContactUsMailSend.js"></script>
}
   





