﻿@model BLL.ModelViews.CMSManage.Extend
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">*@
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>
    
@*<link href="http://cdn-na.infragistics.com/igniteui/2017.2/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
<link href="http://cdn-na.infragistics.com/igniteui/2017.2/latest/css/structure/infragistics.css" rel="stylesheet" />
<script src="http://cdn-na.infragistics.com/igniteui/2017.2/latest/js/infragistics.core.js"></script>
<script src="http://cdn-na.infragistics.com/igniteui/2017.2/latest/js/infragistics.lob.js"></script>*@

<script>
    $(document).ready(function () {
        var mail = [];
        var options = [];
        var url = "/BroadCastMail/GetSubscriber";
    $.getJSON(url, null, function (result) {
        //console.log(result);
        for (var i = 0; i < result.length; i++) {
            //mail.push(result[i]["Email"]);
            $('#ddlSubscriber').append('<option value="' + result[i]["Email"] + '">' + result[i]["Email"] + '</option>');
            //options.push({ label: result[i]["Email"], title: result[i]["Email"], value: result[i]["Email"], selected: false, disabled: false });
        }

        //$("#MultipleSelectBox").multipleSelectBox();
        // $('#ddlSubscriber').multiselect('dataprovider', options);

        $('#ddlSubscriber').multiselect({
                //buttonWidth: '170px',
                includeSelectAllOption: true,
                enableFiltering: true,
                maxHeight:'40px',
                //,enableClickableOptGroups: true,
                //enableCollapsibleOptGroups: true
            });

        //$('#ddlSubscriber').append('<option value="' + i + '">' + i + '</option>');
        //$("#ddlSubscriber").igCombo({
        //    width: 560,
        //    dataSource: result,
        //    selectedItems: [{ index: 1 }],
        //    filteringType: "local",
        //    renderMatchItems: "contains",
        //    responseDataKey: "d.results",
        //    textKey: "Email",
        //    valueKey: "Email",
        //    multiSelection: {
        //        enabled: true
        //    },
        //    dropDownOrientation: "bottom"
        //});

    });

    //setTimeout(function () { 
    //    $('.ui-igcombo-wrapper').css("width" ,"560px");        
        //}, 500);

       return false;
});
</script>

<style>
        .navbar-default{
            background-color: #333333 !important;
            border-color: #222222 !important;
        }
        .navbar-default .navbar-nav > li > a {
            color: #ffffff !important;
        }

        /*.navbar-default .navbar-nav a:hover{
            background-color:#222222;
            color: #ffffff;
        }*/      
        /*.navbar-default .navbar-nav > li > a {
            color: #ffffff;
         }*/

        .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
            color: #f7f3f3 !important;
            background-color: #2b2828 !important;
        }
</style>
<script src="~/Areas/Admin/scripts/custom/BroadcastMail.js" type="text/javascript"></script>

<h1>CMSManage</h1>
<form action="#" method="POST" id="form-main">  
    @*<div class="form-group">
        Select Subscriber Mail
        <div class="row">
            <select id="ddlSubscriber" name="Email"></select>
            <span class="input-group-btn">
                <a data-toggle="modal" class="btn btn-primary" href="javascript:void(0);" data-target="#ModalAddMail">Add New Mail</a>glyphicon glyphicon-plus-sign   glyphicons glyphicons-address-book
            </span> glyphicons-user-vr-add glyphicons-user-add glyphicon glyphicon-envelope
        </div>
    </div>*@

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <div class="input-group">
                    <label>Select Subscriber Mail</label>
                    <select id="ddlSubscriber" multiple="multiple" name="Email" required></select>
                    <span class="input-group-btn" style="padding-left:0px;padding-top:23px;">
                        <a data-toggle="modal" class="btn btn-primary" href="javascript:void(0);" data-target="#ModalAddMail"><i class="glyphicon glyphicon-envelope"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Mail Content</label>
        <div class="editor-field">
            <textarea id="mailContent" name="mailContent" class="form-control" rows="12" cols="20">@Model.Content</textarea>
        </div>
    </div>
    
    <div class="form-group">        
        <input type="submit" id="btnSendMail" name="btnSendMail" class="btn btn-primary" value="Send Mail" />
        <a href="/Admin/Dashboard" class="btn btn-primary">Cancel</a>
    </div>
</form>

<div class="modal fade" id="ModalAddMail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add New Subscriber Mail </h4>
            </div>
            <div class="modal-body">
                <form id="frm1" action="#" method="post">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">EMail</span>
                                    <input type="email" id="Email" name="Email" placeholder="Enter Email Address" class="form-control required" />
                                </div>
                            </div>
                        </div>
                        @*<br />*@
                        <div class="form-group">
                            <input type="submit" id="btnAddMail" name="btnAddMail" class="btn btn-primary" value="Add Mail" />
                            @*<a href="/Admin/BroadCastMail" class="btn btn-primary">Cancel</a>*@
                        </div>
                    </div>
               </form>
        </div>
    </div>
</div>
</div>

@section scripts{
    <script src="/Content/ckeditor/ckeditor.js"></script>
    <script>
    $(document).ready(function () {
        // ----- Demo Referrence : http://www.responsivefilemanager.com/demo.php ----- //
        CKEDITOR.replace("mailContent", {
            filebrowserBrowseUrl: '/filemanager/dialog.php?type=2&editor=ckeditor&fldr=',
            //filebrowserUploadUrl: '/filemanager/dialog.php?type=2&editor=ckeditor&fldr=',
            filebrowserImageBrowseUrl: '/filemanager/dialog.php?type=1&editor=ckeditor&fldr='
        });
    })
   </script>
}
    

