﻿@model  BLL.ModelViews.User.Extend

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>First Name <span class="text-danger">*</span></label>
            <input type="text" name="FirstName" id="FirstName" value="@Model.FirstName" class="form-control" required />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label> Last Name <span class="text-danger">*</span></label>
            <input type="text" name="LastName" id="LastName" value="@Model.LastName" class="form-control" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Email <span class="text-danger">*</span></label>
            <input type="text" name="Email" id="Email" value="@Model.Email" class="form-control" required />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Phone </label>
            <input type="text" name="PhoneNumber" id="PhoneNumber" value="@Model.PhoneNumber" class="form-control" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Address <span class="text-danger">*</span></label>
            <input type="text" name="Address" id="Address" value="@Model.Address" class="form-control" required />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label> City</label><span class="text-danger">*</span>
            <input type="text" name="City" id="City" value="@Model.City" class="form-control" required/>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">@*<span class="text-danger">*</span>*@
            <label>State <span class="text-danger">*</span></label>
            <input type="text" name="State" id="State" value="@Model.State" class="form-control" required />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Post Code </label><span class="text-danger">*</span>
            <input type="text" name="PostCode" id="PostCode" value="@Model.PostCode" class="form-control" required/>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Country <span class="text-danger">*</span></label>
            <input type="text" name="Country" id="Country" value="@Model.Country" class="form-control" required />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>User Type: <span class="text-danger">*</span></label>
            <select class="form-control required" name="Role" id="Role">
                <option @(Model.Role == "Admin" ? "selected" : "")>@BLL.Tools.Constants.Role.ADMIN</option>
                <option @(Model.Role == "Staff" ? "selected" : "")>@BLL.Tools.Constants.Role.STAFF</option>
            </select>  
        </div>
    </div>
</div>

<div class="row"> 
    <div class="col-md-6">
        <div class="form-group">
            <label>Username <span class="text-danger">*</span></label>
            <input type="text" name="Username" id="Username" value="@Model.UserName" class="form-control" required />
        </div>
    </div>   

@if(Model.Guid == Guid.Empty){
    <div class="col-md-6">
        <div class="form-group">
            <label>Password <span class="text-danger">*</span></label>
            <input type="password" name="Password" id="Password" class="form-control" required />
        </div>
    </div>
}
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Status: <span class="text-danger">*</span></label>
           
            <select class="form-control required" name="Status" id="Status">
                <option @(Model.Status == "Active" ? "selected" : "")>@BLL.Tools.Constants.Status.ACTIVE</option>
                <option @(Model.Status == "Deactive" ? "selected" : "")>@BLL.Tools.Constants.Status.DEACTIVE</option>     
            </select>
        </div>
    </div>
</div>

<div class="form-group">
    <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
    <a href="/Admin/Users/Index" class="btn btn-primary">Cancel</a>
    <input type="hidden" id="Guid" name="Guid" value="@Model.Guid" />
    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
</div>