﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Admin/Styles/css", "~/Admin/Styles/css")
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    @Scripts.Render("~/Admin/Scripts/lib")
    @Scripts.Render("~/Admin/Scripts/app")
</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            @*@{Html.RenderPartial("_header");}*@
            <div class="navbar-header">
                <a href="#">
                    <img src="~/Images/logo.png" style="margin-top:10px;" height="138" />
                </a>
            </div>
        </div>
    </div>

    <div id="container-main" class="container well">
        @RenderBody()
    </div>

    <div id="footer-wrap" class="container">
        <div id="footer">
            @{Html.RenderPartial("_Footer");}
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
