﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Styles/css", "~/Styles/css")

    @Scripts.Render("~/Scripts/lib")
    @Scripts.Render("~/Scripts/app")

</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            @{Html.RenderPartial("_header");}
        </div>
    </div>

    <div id="container-main" class="container well">

        @RenderBody()
    </div>

    <div id="footer-wrap" class="container">
        <div id="footer">
            @{Html.RenderPartial("_footer");}
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>