﻿ 
<script>
    function SetLanguageID(val) {
        $.ajax({
            type: "POST",
            url: "/Admin/Login/SetcurrentLanguage",
            datatype: "json",
            contenttype: "application/json",
            data: {
                value: val
            },
            success: function (data) {
                var objJson = jQuery.parseJSON(data);
                if (objJson.success) {
                    toastr.success(objJson.message);
                }
                window.location.reload();
            },
        });
    }
</script>

<div class="col-md-12" style="margin-top:10px">
    <ul class="nav navbar-nav navbar-right">
        @*@{
            var f_adminId = BLL.Queries.TblLoginMaster.GetById(BLL.Tools.SessionConfig.AdminID);
            <li><a href="#">Hello:  @BLL.Tools.SessionConfig.adminModel</a></li>
        }*@
        <li class="dropdown">
            <a class="dropdown-toggle" href="#">User<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/Admin/Login/ChangePassword">Change Password</a></li>
                <li><a href="/Admin/Login/Logout">LogOut</a></li>
            </ul>
        </li>
    </ul>
    @*<div class="col-sm-2 pull-right">
        <div class="bfh-selectbox bfh-languages" data-language="@BLL.Tools.SessionConfig.AdminLangCode" data-available="@LanguageString" data-flags="true" onchange="SetLanguageID(this.value);">
            <input type="hidden" value="">
            <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#">
                <span class="bfh-selectbox-option input-medium" data-option=""></span>
                <b class="caret"></b>
            </a>
            <div class="bfh-selectbox-options">
                <div role="listbox">
                    <ul role="option"></ul>
                </div>
            </div>
        </div>
    </div>*@
</div>
<div class="col-md-12">
    <div id="myexample">
        <ul class="nav navbar-nav">
            <li class="@(ViewBag.PageName == BLL.Tools.Constants.PageName.Dashboard ? "active" : "")"><a href="/admin/Dashboard">Dashboard</a></li>
            <li class="@(ViewBag.PageName == BLL.Tools.Constants.PageName.CMSManage ? "active" : "")"><a href="/admin/CMSManage">CMS Management</a></li>
            <li class="@(ViewBag.PageName == BLL.Tools.Constants.PageName.Users ? "active" : "")"><a href="/admin/Users">Users Management</a></li>
            <li class="@(ViewBag.PageName == BLL.Tools.Constants.PageName.ICO ? "active" : "")"><a href="/admin/ICOManage">ICO Management</a></li>
            <li class="@(ViewBag.PageName == BLL.Tools.Constants.PageName.Subscriber ? "active" : "")"><a href="/admin/SubscriberManage">Subscriber Management</a></li>
            <li class="@(ViewBag.PageName == BLL.Tools.Constants.PageName.BroadcastMail ? "active" : "")"><a href="/admin/BroadCastMail">Broadcast Mail</a></li>
            <li class="@(ViewBag.PageName==BLL.Tools.Constants.PageName.NewsManage ? "active" : "")"><a href="/admin/NewsManage">News Management</a></li>
        </ul>
    </div>
</div>