﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Admin/Styles/css", "~/Admin/Styles/css")
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    @Scripts.Render("~/Admin/Scripts/lib")
    @Scripts.Render("~/Admin/Scripts/app")
    <link href="~/Areas/Admin/Content/bootstrap-formhelpers.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/bootstrap-formhelpers-countries.flags.css" rel="stylesheet" />
    @*<link href="~/Areas/Admin/Content/bootstrap-datetimepicker.css" rel="stylesheet" />*@
    <link href="~/Areas/Admin/Content/datetimepicker.css" rel="stylesheet"/>
    <link href="~/Areas/Admin/Content/datepicker.css" rel="stylesheet"/>

    @RenderSection("Header" , required : false)
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111690421-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-111690421-1');
    </script>
    
</head>

<body class="k-rtl">
    <div class="navbar navbar-default">
        <div class="container">
            @{Html.RenderPartial("_header");}
        </div>
    </div>

    <div id="container-main" class="container well">
        @RenderBody()
    </div>

    <div id="footer-wrap" class="container">
        <div id="footer">
            @{Html.RenderPartial("_footer");}
        </div>
    </div>
    <script src="~/Areas/Admin/scripts/moment-with-locales.js"></script>
    <script src="~/Areas/Admin/scripts/lib/jquery/bootstrap-formhelpers-selectbox.js"></script>
    <script src="~/Areas/Admin/scripts/lib/bootstrap-formhelpers-languages.js"></script>
    <script src="~/Areas/Admin/scripts/lib/jquery/bootstrap-formhelpers-languages.codes.js"></script>
    <script src="~/Areas/Admin/scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Areas/Admin/scripts/bootstrap-datepicker.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>