﻿@using WiCms.Areas.Admin.Models;
@model WiCms.Areas.Admin.Models.EditorViewModel

<script type="text/javascript" src="@Url.Content("~/Content/Fckeditor/fckeditor.js")"></script>
<script type="text/javascript">
    window.onload = function () {
        var sBasePath = "@Url.Content("~/Content/Fckeditor/")";
        var oFCKeditor = new FCKeditor('@Model.Id');
        oFCKeditor.BasePath = sBasePath;
        oFCKeditor.Height = 450;
        oFCKeditor.width = 500;
        oFCKeditor.ToolbarSet = "WebbyCustom";
        oFCKeditor.ReplaceTextarea();
    }
</script> 