﻿@{
    ViewBag.Title = "Login";
}
@section scripts{
    <script>
        $(document).ready(function () {
            var formMain = $("#form-main");
            //---------------Default Login for Developer-----------//
            /*$("#Email").val('ravi@webbyinfotech.com');
            $("#password").val('123456789');
            var formButton = $("#btn-submit");
            UpdateRecord(formMain, formButton, 'Login', null);*/
            //----------------------------------------------------//
           // $(formMain).validate();
            $(formMain).submit(function () {
                // Validation Failed
                //if (!$(formMain).valid()) { return false; }
                // Process Form
                var formButton = $("#btn-submit");
                var baseUrl = '@Request.QueryString["ReturnUrl"]';
                if (baseUrl.indexOf('Account/Login') > 0 || baseUrl == '')
                    baseUrl = '/';
                PostFormData(formMain, formButton, 'LoginPost', baseUrl);
                return false;
            });

        });
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}

<section class="ls columns_padding_25 section_padding_top_75 section_padding_bottom_130">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 to_animate animated scaleAppear" data-animation="scaleAppear">
                <h3 class="section_header small">Login</h3>
                <form id="form-main" class="row columns_padding_10" >
                    <div class="col-sm-12">
                        <div class="form-group bottommargin_0"> <label for="username">Username <span class="required">*</span></label> <input type="text" aria-required="true" size="30" value="" name="username" id="username" class="form-control" placeholder="Username or Email" required> </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group bottommargin_0"> <label for="password">Password<span class="required">*</span></label> <input type="password" aria-required="true" size="30" value="" name="password" id="password" class="form-control" placeholder="Password" required> </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group bottommargin_0"> <div class="g-recaptcha" data-sitekey="@BLL.Tools.Constants.API.RECAPTCHA_PUBLIC_KEY"></div> </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="topmargin_20"> <button type="submit" id="btn-submit" name="" class="theme_button color2 min_width_button">Sign in</button> </div>
                    </div>
                </form>
            </div>
            <!--.col-* -->
            <div class="col-sm-4 to_animate animated scaleAppear text-center" data-animation="scaleAppear">
                <h3 class="section_header small"></h3>
                <div class="widget widget_apsc_widget">
                    <h3 class="widget-title">Register Or Login With</h3>
                    <div class="apsc-icons-wrapper clearfix apsc-theme-4">
                        <div class="apsc-each-profile">
                            <a class="apsc-facebook-icon clearfix" href="#">
                                <div class="apsc-inner-block">
                                    <span class="social-icon">
                                        <i class="fa fa-facebook apsc-facebook"></i>
                                        <span class="media-name">Facebook</span>
                                    </span>  
                                </div>
                            </a>
                        </div>
                        <div class="apsc-each-profile">
                            <a class="apsc-twitter-icon clearfix" href="#">
                                <div class="apsc-inner-block">
                                    <span class="social-icon">
                                        <i class="fa fa-twitter apsc-twitter"></i>
                                        <span class="media-name">Twitter</span>
                                    </span>  
                                </div>
                            </a>
                        </div>
                        <div class="apsc-each-profile">
                            <a class="apsc-google-plus-icon clearfix" href="#">
                                <div class="apsc-inner-block">
                                    <span class="social-icon">
                                        <i class="apsc-googlePlus fa fa-google-plus"></i>
                                        <span class="media-name">google+</span>
                                    </span>  
                                </div>
                            </a>
                        </div>
                        <div class="apsc-each-profile">
                            <a class="apsc-facebook-icon clearfix" href="#">
                                <div class="apsc-inner-block">
                                    <span class="social-icon">
                                        <i class="apsc-facebook fa fa-linkedin"></i>
                                        <span class="media-name">LinkedIn</span>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--.col-* -->
        </div>
        <!--.row -->
    </div>
    <!--.container -->
</section>                                                                                                                                                                                                        