﻿
@*var data = @BLL.Queries.ICO.GetRecommandCoin();
var code_list = data.Select(c => c.CoinCode).ToList();*@

@*<div class="col-md-12 col-sm-12">
    <div class="container">*@
        @*<div class="row">
            <div class="col-md-4 col-sm-4 text-center vertical-center">
                <div class="coinmarketcap-currency-widget" data-currency="bitcoin" data-base="USD" data-secondary="" data-ticker="true"
                     data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false">
                </div>
            </div>
            <div class="col-md-4 col-sm-4 text-center vertical-center">
                <div class="coinmarketcap-currency-widget" data-currency="ethereum" data-base="USD" data-secondary="" data-ticker="true"
                     data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false">
                </div>
            </div>
            <div class="col-md-4 col-sm-4 text-center vertical-center">
                <div class="coinmarketcap-currency-widget" data-currency="davorcoin" data-base="USD" data-secondary="" data-ticker="true"
                     data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false">
                </div>
            </div>
        </div>*@
            <div id="coin_list" class="row">
              
            </div>
       @*</div>   
</div>*@

@*<script>
    $(document).ready(function () {
        $('div.coinmarketcap-currency-widget div a').each(function () {
            if ($(this).text() == 'Powered by CoinMarketCap')
                $(this).remove();
        });
    });
</script>*@
