﻿@model String
<style>
    table > thead > tr > th {
        color: #333333;
    }

    table {
        font-family: Arial;
    }
</style>

<div class="col-sm-12">
    <div class="">
        @*table-responsive*@
        <input type="hidden" id="datatable_api_Category_Type2" value="@Model" />
        <table id="tblTOPICO" class="table table-condensed hover"></table>
    </div>
</div>



