﻿
/* Validation
----------------------------------------------------------------------------------------------------*/
textarea,
input[type="text"].error,
input[type="password"].error,
input[type="datetime"].error,
input[type="datetime-local"].error,
input[type="date"].error,
input[type="month"].error,
input[type="time"].error,
input[type="week"].error,
input[type="number"].error,
input[type="email"].error,
input[type="url"].error,
input[type="search"].error,
input[type="tel"].error,
input[type="color"].error,
.uneditable-input {
  border:1px solid  #D60000;
  background-color: #ffffe0;
  margin-bottom: 3px;
}

label.error{
	color: #D60000;
}
label.error, span.error {
	color: #D60000;
	margin-left: 3px;
}

td.deleteTd {
    border: none;   
    background-color: #f2dede !important;
    color: #b94a48;
    font-style: italic;
}

tr.deleteTr {
    border: none;
    border-color: #eed3d7 !important;
}

tr.alert > td,
tr.alert > th {
  background-color: #fcf8e3 !important;
}
th.th-icon {
    min-width:50px !important;
}


