﻿
@{
    ViewBag.Title = "Home";
} 
<section class="ls">
    <div class="container">
        <div class="row">
            <div class="col-md-12" @*style="margin:7px;"*@>
                @Html.Partial("/Views/Shared/Partial/_CoinWidget.cshtml")
            </div>

            <div class="col-md-12">
                <div class="col-md-9">
                    <div class="teaser media">
                        <div class="media-left">
                            <div class="teaser_icon highlight size_small"> <i class="fa fa-thumbs-o-up"></i> </div>
                        </div>
                        <div class="media-body">
                            <h3 class="text-uppercase"> Investment Grade <b>A1+</b> </h3>
                            <p> These coins have completed their ICOs and have proceeded with their ongoing lending programs very successfully. These are the top lending programs of the lending coin industry right now. </p>
                        </div>
                    </div>
                </div>

                @*<div class="col-md-3">
                    <div id="carousel-ICO" class="carousel slide testimonials-carousel" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                           <!-- <div class="item active">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" src="https://files.coinmarketcap.com/static/img/coins/32x32/davorcoin.png" alt="">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="bottommargin_0">DavorCoin</h5>
                                        <p> Rate : 5 / 5 </p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>*@

            </div>
        
            <div class="col-md-12">
                <header class="col-md-3 col-sm-3 pull-md-left"><b>Lending ICO:</b></header>
                @Html.Partial("/Views/Shared/Partial/_ICOGrid.cshtml",BLL.Tools.Constants.Types.ICOCategory.LENDING)
            </div>

            <div class="col-md-12">
                <header class="col-md-3 col-sm-3 pull-md-left"><b>Top 5 ICO Listing — All Stages:</b></header>
                @Html.Partial("/Views/Shared/Partial/_TOPICOGrid.cshtml", BLL.Tools.Constants.Types.ICOCategory.OTHER)
            </div>

            @*<div class="col-md-12">
                <div class="form-group">
                    <button type="button" class="btn btn-link">
                        <a href="/ICO" style="color:inherit"> View More >> </a>
                    </button> 
                </div>
            </div>
            <div class="btn-group">
                <a href="/ICO" class="btn btn-primary active">
                    <i class="glyphicon-link" aria-hidden="true"></i> View More
                </a>
            </div>*@

            <div class="col-md-12">
                <div class="form-group">
                    <div class="form-group row">
                        <div class="col-sm-3 col-sm-push-5">
                            <a href="/ICO"><input type="button" class="btn btn-primary active" value="View More >>"> </a>
                        </div>
                    </div>
                </div>
           </div>

          <div class="contentHomeNotification">

          </div>
        </div>
    </div>
</section>
@section head{
<link href="~/Content/plugins/flipclock.css" rel="stylesheet" />
    @*<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet" />*@
<link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/responsive.dataTables.min.css" />
}
@section scripts{
    <script src="~/Scripts/plugins/flipclock.min.js"></script>
    @*<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>*@
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables.responsive.min.js"></script>
    <script src="~/Scripts/custom/ICO.js"></script>
    <script src="~/Scripts/custom/TOPICO.js"></script>
    <script src="~/Scripts/custom/GetRecommendCoin.js"></script>
    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>

    <script>
    $(document).ready(function () {
        // ----- Show Home Notification ----- //
        //if (getCookie("IsViewedHomeNotification") != "true") {
            CMSRender($('#APIURL').val() + "CMSManage/GetSingleData/?ID=HOME_NOTIFICATION", 'contentHomeNotification', function () {
                $('.ShowModalOnLoad').modal("show");
                //setCookie("IsViewedHomeNotification", "true", 1);
            });
        //}

        // ----- Remove unwanted table controls ----- //
            $('#tblICO_info,#tblICO_paginate,#tblICO_filter,#tblICO_length').remove();
            $('#tblTOPICO_info,#tblTOPICO_paginate,#tblTOPICO_filter,#tblTOPICO_length').remove();
        // ----- Write Carousel-ICO ----- //
            setTimeout(function () {
                $('div.coinmarketcap-currency-widget div a').each(function () {
                    if ($(this).text() == 'Powered by CoinMarketCap')
                        $(this).parent().remove();
                });
                var dtData = $('#tblICO').DataTable().rows().data();
                //$.each(dtData, function (index, item) {
                //    $('#carousel-ICO > .carousel-inner').append('<div class="item ' + (index == 0 ? 'active' : '') + '"> <div class="media"> <a class="pull-left ' + (item.ReferrerUrl == null ? "" : 'linkRefurl') + '" href="' + item.Website + '" ' + (item.ReferrerUrl == null ? "" : 'data-refurl="' + item.ReferrerUrl + '"') + '>'
                //        + '<img class="media-object" src="' + item.CoinIcon + '" width="40"  alt=""></a><div class="media-body"><h5 class="bottommargin_0">' + item.CoinName + '</h5>'
                //        + '<div class="star-rating" title="Rated ' + item.Rate + ' out of 5"> <span style="width: ' + (item.Rate*100/5) + '%"><strong class="rating"> ' + item.Rate + '</strong> out of 5</span> </div></div></div></div>');
                //});
            }, 5000);
    });
    </script>
}
