﻿@model BLL.ModelViews.NewsManage.Extend
@{
    ViewBag.Title = "News";
}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function () {
        var loc_date = $('a').children("time").attr("datetime");
        //var utc_date = utc_date.ToLocaleString();
        var date = new Date(loc_date).getDate()+1;
        var month = new Date(loc_date).getMonth() + 1;       
        var year = new Date(loc_date).getFullYear();
        // var date_full = date + "/" + month + "/" + year; 
        var date_full = date + "." + month + "." + year;
        $("time").text(date_full);
    });
</script>

@*<script type="text/javascript">
    $(document).ready(function () {
        var guid=$("#txtguid").val();
        $.ajax({
            type: "GET",
            url: $("#APIURL").val() + "News/GetByGuid?guid=" + guid,
            datatype: "json",
            success: function (result) {
                toastr.success(result.Data);
                    if (result.Data.ShortDescription != undefined) {
                        var max_length = 20; /* set the max content length before a read more link will be added */
                        if (result.Data.ShortDescription.length > max_length) { /* check for content length */
                            var short_content = result.Data.ShortDescription.substr(0, max_length); /* split the content in two parts */
                            var long_content = result.Data.ShortDescription.substr(max_length);
                            var short_desrcription = short_content +
                             '<a href="#" class="read_more" onclick="hideLink(this)"><br/>Read More</a>' +
                             '<span class="more_text" style="display:none;">' + long_content + '</span>'; /* Alter the html to allow the read more functionality */
                        }
                    }
                    var date = new Date(result.Data.StartEventDate).getDate();
                    var month = new Date(result.Data.StartEventDate).getMonth()+1;
                    var year = new Date(result.Data.StartEventDate).getFullYear();
                    var date_full = date + "/" + month + "/" + year;
                    $("<div class='col-sm-7 col-md-8 col-lg-8'><article class='vertical-item content-padding big-padding with_border post format-standard'><div class='item-media entry-thumbnail'> <img src='" + result.Data.HeaderImage + "' alt=''> </div><div class='item-content'><header class='entry-header'><div class='entry-meta small-text no-spacing content-justify'><span class='greylinks'><a href=''><time datetime=''>'" + date_full  + "'</time></a></span> <span class=''><a href=''>news</a></span> </div><h4 class='entry-title'> <a href=''>'" + result.Data.Title + "'</a> </h4></header><div class='entry-content'>'" + result.Data.LongDescription + "'</p></div></div></article></div>").appendTo("div#selected_news");
            },
            error: function (result) {
                toastr.error(result.Data);
            }
        });
    });
    //function hideLink(a) {
    //    event.preventDefault(); /* prevent the a from changing the url */
    //    $(a).hide(); /* hide the read more button */
    //    $(a).parents('.short_descr').find('.more_text').show(); /* show the .more_text span */
    //}
</script>*@

<div class="row">
    <h3 class="col-sm-3 pull-md-left"><b>News</b> Details</h3>
    <a href="/News/Index" class="col-md-2 pull-md-right">Back To NewsList</a>
</div>

<div id="selected_news" class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <article class="vertical-item content-padding big-padding with_border post format-standard">
            <div class="item-media entry-thumbnail"> 
                <img src="@Model.HeaderImage" alt="Header Image" style="max-height: 350px;"> </div>
            <div class="item-content">
                <header class="entry-header">
                    <div class="entry-meta small-text no-spacing content-justify">
                        <span class="greylinks">
                            <a href="#">
                                <time datetime="@Model.StartEventDate">
                                    
                                </time>
                            </a>
                        </span> <span class="highlightlinks">
                            <a href="#">
                               Post By:@Model.Author
                            </a>
                        </span>
                    </div>
                    <h4 class="entry-title"> <a href="#">@Model.Title</a> </h4>
                </header>
                <div class="entry-content">
                    <p>@Html.Raw(Model.LongDescription)</p>
                </div>
                <br />
                <div id="google_translate_element"></div>
            </div>
        </article>
    </div>
</div>
<input type="hidden" name="txtguid" id="txtguid" value="@ViewBag.Guid" />          

@section scripts {
    <script src="~/Scripts/toastr.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
            function googleTranslateElementInit() {
              new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
            }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
}