﻿
@{
    ViewBag.Title = "News";
}
@*<script>
    setTimeout(function () {
        //$("table.gsc-search-box").css("width", '50%');
        //$(".cse .gsc-control-cse, .gsc-control-cse").css("padding", '0em');
        //$("table").css("margin", '10px 0');
    }, 500);
</script>*@

<style>
            /*.gsc-search-box-tools .gsc-search-box .gsc-input {
                    padding-right: 12px !important;
            }*/
            /*input.gsc-input {
                padding: 0px !important;
                border: none !important;
            }*/

            input.gsc-input {
                padding: 0px !important; 
                /*border: 1px solid #DDD !important;*/
                width: 50% !important;
            }

            /*input[type="text"]{
                 margin: 0px !important;
            }*/

            /*input[type="text"]{
                    height: 40px !important;
                    background-color: #f2f2f2 !important;    
                    padding-left: 30px !important;
                    padding-right: 20px !important;
                    padding-top: 5px !important;
                    padding-bottom: 5px !important;
                    font-size: 14px !important;
                    border: none !important;        
            }*/
            /*.text-center*/
            div.gsc-results-wrapper-overlay  {
                text-align: left !important;
            }

            .gs-imageResult-column .gs-text-box {
                height: 86px !important;
            }

            .gs-imageResult .gs-text-box {
                height: 4em !important;
            }

            form.gsc-search-box {    
                margin-top: 0 !important;
                margin-right: 0 !important;
                margin-bottom: 4px !important;
                margin-left: 0 !important;
                /*width: 100% !important;*/
            }

            .gsc-control-cse .gsc-table-result {
                width: 100% !important;
            }

            table{
                border-collapse: separate !important;
                border-spacing: 2px !important;
            }

            /*table td, table th {
                padding: 9px 4px !important;
                vertical-align: top !important;
            }*/
                    .gsc-result .gs-title{
                        height: 1.4em !important;
                    }
                    .gsc-control-cse, .gsc-control-cse .gsc-table-result {
                        width: 100% !important;
                    }
                    .gsc-table-result, .gs-promotion-table{
                        border-spacing: 0px !important;
                    }

.gsc-control-cse, .gsc-control-cse .gsc-table-result{
    font-family: Arial, sans-serif !important;
    font-size: 13px !important;
}
.gsc-webResult.gsc-result {
    padding: .25em !important;
}
.gsc-webResult .gsc-result {
    /*margin: 0;*/
    padding: .5em 0 !important;
    border-bottom: 1px solid #ebebeb !important;
}
    /*----------------------------------*/
.gsc-result {
    margin-bottom: 10px !important;
}
#box_wrapper {
    display: -webkit-box !important;
}
.gsc-control-cse, .gsc-control-cse .gsc-table-result {    
    font-family: Arial, sans-serif !important;
    font-size: 13px !important;
}
    table.gsc-search-box td {
    vertical-align: middle;
}
.gsib_a {
    padding-right: 8px !important;
    padding-left: 8px !important;
}

.gsib_a, .gsib_b {
    vertical-align: top !important;
}

.gsib_a {
    
    padding: 4px 6px 0 !important;
}

    /*table td, table th {
        padding: 9px 4px !important;
        line-height: 1.42857143 !important;
        vertical-align: top;
    }

td, th {
    padding: 0 !important;
}*/

td.gsib_a{ 
    position: absolute;
    top: 31px;
}

div.gsc-input-box {
    border: 1px solid lightgray;
}

form.gsc-search-box {   
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 4px !important;
    margin-left: 0 !important;
    width: 100% !important;
}

.gsst_a {
    padding-top: -8.5px !important;
    padding-left: 257px !important;
    /* position: static; */
    padding-top: 5.5px !important;
}
   /* .gsc-results-wrapper-overlay {
    border: none;
    margin: auto;
    border-radius: 1px;
    overflow: auto;
    height: 80%;
    -webkit-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4);
    -ms-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4);
    -o-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4);
    box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4);
    border-collapse: separate;
    background: white;
    padding: 30px;
    /*width: 70%;
    position: fixed !important;
    top: 5%;
    left: 12%;
    opacity: 0;
    z-index: 100002;
    visibility: hidden;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#888888')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#888888');
}*/
                /*[class*="col-"] {
                    margin-top: 10px !important;
                    margin-bottom: 10px !important;
                }*/
</style>

@*<div class="container">
    <div class="col-md-12 ct-content">

        <form id="searchForm" action="">
                <div class="row">
                    <div class="col-md-10 col-sm-12">
                        <input id="txtSearchTerm" name="q" class="search-page-search" placeholder="What are you looking for?">
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <input type="submit" onClick="javascript:JSFiddleSubmit();return false;" class="search-page-search-submit" value="Search">
                    </div>
                </div>
            </form>
            <div id="searchResult"></div>
            <div id="output"></div>
            <div class="pager_controls">
                <p>
                    <a onclick="documentTrack('#');" href="#" id="lnkPrev" title="Display previous result page" style="display:none;">Previous</a>
                    <a onclick="documentTrack('#');" href="#" id="lnkNext" title="Display next result page" style="display:none;">Next</a>
                </p>
            </div>


        <form id="searchForm" action="">
            <div class="row">
                <div class="col-md-10 col-sm-12">
                    <input id="txtSearchTerm" name="q" class="search-page-search" placeholder="What are you looking for?" value="">
                </div>
                <div class="col-md-2 col-sm-12">
                    <input type="submit" class="search-page-search-submit" value="Search">
                </div>
            </div>
        </form>
        <div id="searchResult">
        </div>
        <div id="output">
        </div>
        <div class="pager_controls">
            <p>
                <a onclick="documentTrack('#');" href="#" id="lnkPrev" title="Display previous result page" style="display:none;">Previous</a>
                <a onclick="documentTrack('#');" href="#" id="lnkNext" title="Display next result page" style="display:none;">Next</a>
            </p>
        </div>
    </div>
</div>*@

@*<div class="container">
    <div class="col-md-12 ct-content">
        @*## CSS
        All CSS is included in google-search.css. Changing the color scheme is as simple as chaning the "background-color" properties.
        ## JavaScript
        The search relies on a cse key and an optional API key you receive after registering with Google:*
       
        <!-- Number of searches per day will be limited unless google_api_key is specified (https://console.developers.google.com) -->
        <!-- Add your google_cse_id after registering (https://cse.google.com/) -->

        <script type="text/javascript">
             var mGoogleApiKey = "YYYYYYYYY__YYYYYYYYYYY-1111111111111111"; 
             var mGoogleCustomSearchKey = "123456789123456789123:abcdefghijk";
                    @*Additional processing is included in "search-script.js".
                    Some simple JavaScript is used to capture the search query and show it in the search bar after results have been loaded:    
                    $(document).ready(function(){
                        var url = window.location.href;
                        // or window.location.href for current url
                        var captured = /q=([^&]+)/.exec(url)[1];
                        // Value is in [1] ('384' in our case)
                        var result = captured ? captured : 'myDefaultValue';
                        document.getElementById("txtSearchTerm").value = result;
                    });
        </script>
   </div>
</div>*@

        @*<div class="row">
            <h3 class="col-sm-3 pull-md-left"><b>News</b></h3>
        </div>*@

        <div class="row">
            <h3 class="col-sm-3 pull-left"><b>News</b></h3>
            <div class="col-md-6 col-sm-9 col-xs-12 pull-right" style="width:40%">
                <script>
                    //https://cse.google.com/cse/create/congrats?cx=014327718298321310709%3Apzn69cyfpq8
                    //https://cse.google.com/cse/create/new
                    (function () {
                        var cx = '014327718298321310709:pzn69cyfpq8';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                    })();
                </script>
                <gcse:search></gcse:search>
            </div>
        </div>

        <div class="row">
            <div id="google_translate_element" class="pull-left"></div>

            <div id="daterange" class="pull-right" style="position: relative;top:-15px;right:42px;" @*style="background: #fff;cursor: pointer;padding: 5px 10px;border: 1px solid #ccc;width: 23%;position: relative;top: 25px;right: 26px;"*@>
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
        </div>

        @*<div class="row">
            <div class="pull-left">
                <h4 class="pull-left"><b>News</b></h4>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                
                    <div class="pull-left" style="width:50%;">
                        <script>
                            //https://cse.google.com/cse/create/congrats?cx=014327718298321310709%3Apzn69cyfpq8
                            //https://cse.google.com/cse/create/new
                            (function () {
                                var cx = '014327718298321310709:pzn69cyfpq8';
                                var gcse = document.createElement('script');
                                gcse.type = 'text/javascript';
                                gcse.async = true;
                                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(gcse, s);
                            })();
                          </script>
                          <gcse:search></gcse:search>
                    </div>

                    <div id="daterange" class="pull-right" @*style="background: #fff;cursor: pointer;padding: 5px 10px;border: 1px solid #ccc;width: 23%;position: relative;top: 25px;right: 26px;">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span></span> <b class="caret"></b>
                    </div>
            </div>
        </div>*@

        <div id="news_list" class="row">
           @*view news list*@            
        </div>
        <div class="row" id="NotFoundMessage" style="font-size:25px;text-align:center;margin-top: 115px;color: #af1717;">
            <label id="lblMessage" name="lblMessage" disabled></label>
        </div>
        
        @*Take coin news from google 
            https://www.codeproject.com/Tips/749726/Simple-Google-News-API
            https://news.google.com/news?q=bitcoin&output=rss
        *@

        @*<div id="ProgressiveDiv" class="row topmargin_30">
                <div class="col-sm-12 text-center">
                <img src="img/loading.png" alt="" class="fa-spin">
                </div>
        </div>*@

        @section head{
            <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
            <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
            <link rel="stylesheet" type="text/css" href="~/Content/google-search.css" />
        }

        @section scripts{
            <script type="text/javascript" src="~/Scripts/toastr.js"></script>
            <script src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
            @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
            <script src="~/Scripts/custom/News.js" type="text/javascript"></script>
            <script>
            $(document).ready(function () {
                setTimeout(function(){
                    $('[data-toggle="popover"]').popover({
                        container: 'body'
                        //max-width: '100%'
                    });
                }, 1500);
            });
            </script>
            <script src="~/Scripts/search-script.js"></script>
            <script type="text/javascript">
            function googleTranslateElementInit() {
              new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
            }
            </script>
            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            @*<script type="text/javascript" src="https://viralpatel.net/blogs/demo/jquery/jquery.shorten.1.0.js"></script>*@
        }

