﻿
<header class="page_header header_white" style="">
    <div id="CryptoExploreLogo" class="mainmenu_wrapper" style="position:absolute;left:10px;">
        <a href="/" >
            <img src="/images/logo.png" alt="" style="height:60px; margin:10px;">
        </a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <!-- main nav start -->
                <nav class="mainmenu_wrapper">
                    <ul class="mainmenu nav sf-menu">
                        <li class="@(ViewBag.Title == "Home"?"active":"")">
                                 @*@Html.ActionLink("Home", "Index", "Home", new { area = "" },null)*@
                            <a href="/Home">Home</a>
                        </li>
                        <li class="@(ViewBag.Title == "Home"?"active":"")">
                                 @*@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)*@
                            <a href="/Help">API</a>
                        </li>
                        <!-- eof contacts -->
                    </ul>
                </nav>
                <!-- eof main nav -->
            </div>
        </div>
    </div>
</header>