﻿@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>*@

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<!-- Mirrored from webdesign-finder.com/html/hashcoin/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Dec 2017 09:07:17 GMT -->
<head>
    <title>@ViewBag.Title - Crypto Explorer</title>
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("head", required: false)

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/jquery-ui.css")*@
    <link href=http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css
          rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/jquery-ui.theme.css")
    @Styles.Render("~/Content/jquery-ui.structure.css")
    @Scripts.Render("~/Scripts/Header")
    @Scripts.Render("~/Scripts/app.js")

    <!--[if lt IE 9]>
        <script src="Scripts/vendor/html5shiv.min.js"></script>
        <script src="Scripts/vendor/respond.min.js"></script>
        <script src="Scripts/vendor/jquery-1.12.4.min.js"></script>
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111690421-1"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-111690421-1');
    </script>
</head>

<body>
   
    @*<div class="preloader">
        <div class="preloader_image"></div>
    </div>*@

    <!-- Unyson messages modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
        <div class="fw-messages-wrap ls with_padding">
            <!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
            <!--
            <ul class="list-unstyled">
                <li>Message To User</li>
            </ul>
            -->
        </div>
    </div>
    <!-- eof .modal -->
    <!-- wrappers for visual page editor and boxed version of template -->
    <div id="canvas">
        <div id="box_wrapper">
            <!-- template sections -->
            <section class="page_toplogo ls section_padding_top_15 section_padding_bottom_15 table_section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-md-push-4 text-center">
                            <a href="/" class="logo top_logo top_offset_logo">
                                <img src="/images/logo.png" alt="">
                            </a>
                            <!-- header toggler hidden-xs --><span class="toggle_menu"><span></span></span>
                        </div>

                        <div class="col-md-4 col-sm-6 col-md-pull-4 text-center text-md-left">
                            <div>
                                <a class="social-icon border-icon rounded-icon color-icon soc-facebook" href="#" title="Facebook"></a>                                
                                <a class="social-icon border-icon rounded-icon color-icon soc-twitter" href="#" title="Twitter"></a> 
                                <a class="social-icon border-icon rounded-icon color-icon soc-google" href="#" title="Google"></a> 
                                <a class="social-icon border-icon rounded-icon color-icon soc-linkedin" href="#" title="Linkedin"></a> 
                                <a class="social-icon border-icon rounded-icon color-icon soc-youtube" href="#" title="Youtube"></a>
                            </div>
                        </div>

                        @*<div class="col-md-4 col-sm-6 text-center text-md-right text-xs-center">
                            <div class="widget widget_search inline-block">
                                <form method="get" class="searchform form-inline" action="#">
                                    <div class="form-group-wrap">
                                        <div class="form-group margin_0">
                                            <label class="sr-only" for="topline-search">Search for:</label>
                                            <input id="topline-search" type="text" value="" name="search" list="json-datalist" class="form-control" placeholder="">
                                            <div class="dataList"></div>
                                            <datalist id="json-datalist"></datalist>
                                        </div>
                                        <button id="search_btn" type="submit" class="theme_button color1 no_bg_button">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>*@
                    </div>
                </div>
            </section>
            @Html.Partial("~/Views/Shared/_header.cshtml")
            @*@Html.Partial("~/Views/Shared/Partial/_adsHeader.cshtml")*@
            @*<div class="adsHeader text-center"></div>*@
            <section class="ls page_copyright section_padding_15">
                @*<div class="adsLeft col-md-2 hidden-sm hidden-xs"></div>*@
                @*@Html.Partial("~/Views/Shared/Partial/_adsLeft.cshtml")*@
                <section class="ls col-md-10  section_padding_bottom_75 columns_padding_25">
                    <div class="container" id="pnlBody">
                        @RenderBody()
                    </div>
                </section>
                @*<div class="adsLeft col-xm-2 visible-sm visible-xs"></div>*@
                @*<div class="adsRight col-md-2 "></div>*@
            </section>

            @*<div class="adsFooter text-center"></div>
            @Html.Partial("~/Views/Shared/_footer.cshtml")*@
            <section class="ls page_copyright section_padding_15">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p class="small-text thin">&copy; Copyright @DateTime.Now.Year. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- eof #box_wrapper -->
    </div>
    <!-- eof #canvas -->

    @Scripts.Render("~/Scripts/Footer")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    <!-- custom js reference -->
    @*<input type="hidden" id="APIURL" value="@BLL.Tools.Constants.SITE_URL.API" />
    @RenderSection("scripts", required: false)*@

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
<!-- Mirrored from webdesign-finder.com/html/hashcoin/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Dec 2017 09:07:17 GMT -->
</html>
