﻿@model BLL.ModelViews.User.Extend
@using WiCms.Areas.Admin.Models;
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*<link href="~/Content/kendo/2016.3.914/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2016.3.914/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2016.3.914/kendo.default.mobile.min.css" rel="stylesheet" />
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/kendo/2016.3.914/kendo.all.min.js"></script>
<script type="text/javascript" src="/Scripts/app.js"></script>*@

<script src="~/scripts/kendo/2016.3.914/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //$('#frm1').on('submit', function (e) {
        //    e.preventDefault();
        //});
        // --/Admin/Users/Post
        $('#frm1').submit(function () {

            var data = $("#frm1").serialize();
            var postUrl = "/Users/Post";

            $.post(postUrl, data, function (result) {

                if (result.success) {
                    //alert(result.message);
                    toastr.success(result.message);
                    window.location.href = "/Admin/Users";
                }
                else {
                    //alert(result.message);
                    toastr.error(result.message);
                    var obj = "";
                    $.each(result.validation, function (i, vObj) {
                        obj += vObj.ValidationMessage + "<br />";
                        // toastr.error(obj);
                        //console.log(vObj.ValidationMessage);
                        //$("#" + vObj.ValidationField).insertAfter("<span class='text-danger'>" + vObj.ValidationMessage + "</span>");
                    });
                    toastr.error(obj);
                }
            });
            return false;
        })
    });
</script>

<h1>User </h1>

<form id="frm1" action="#" method="post">
    
        @Html.Partial("~/Areas/Admin/Views/Shared/_AddUser.cshtml")
   
</form>

@*<input type="checkbox" id="Status" name="Status" @(Model.Status == "Active" ? "checked" : "") class="cke_button__checkbox_icon" />*@

@section scripts{
    <script type="text/javascript" src="~/Scripts/toastr.js"></script>
    <script>
        // function that gathers IDs of checked nodes
        function checkedNodeIds(nodes, checkedNodes) {
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i].checked) {
                    checkedNodes.push(nodes[i].id);
                }

                /*if (nodes[i].hasChildren) {
                    checkedNodeIds(nodes[i].children.view(), checkedNodes);
                }*/
            }
        }
        // show checked node IDs on datasource change
        function onCheck() {
            var checkedNodes = [],
                treeView = $("#treeview").data("kendoTreeView"),
                message;

            checkedNodeIds(treeView.dataSource.view(), checkedNodes);

            $("#CompanyIDs").val(checkedNodes.join(","));
        }
    </script>
}