﻿@model List<BLL.ModelViews.User.Extend>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        // -------------------------------------------
        $(".tr-delete").on("click", function () {
            DeleteRecordRemoveTr(this, 'Admin/Users');              //'/Admin/Users'
        });
        // -------------------------------------------
    });
</script>

<h1>Users Manage </h1>
<form action="/" method="POST" id="form-main">
    <a href="/Admin/Users/Create" class="btn btn-success">New User</a>
    <table class="table table-striped dataTable">
        <thead>
            <tr>
                <th>Delete</th> 
                <th>Edit</th>
                <th>Name</th>
                <th>Email</th>                
            </tr>

            <tr class="dataTable-input">
                <th>
                        <input type="hidden" />
                    </th> 
                <th>
                    <input type="hidden" />
                </th>

                <th>
                    <input type="text" name="FirstName" class="dataTable-search-int" />
                </th>
                <th>
                    <input type="text" name="Email" class="dataTable-search-int" />
                </th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-id="@item.Guid">
                     <td><a href="#" class="tr-delete"><i class="fa fa-trash-o"></i></a></td> 
                    <td><a href="/Admin/Users/Details?guid=@item.Guid">Edit</a></td>

                    <td>@item.FirstName    @item.LastName</td>
                    <td>@item.Email</td>                    
                </tr>
            }
        </tbody>
    </table>
</form>